force-app/main/default/flows/Event_Staging_After_insert_update_Update_Event_Detail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Count</name>
        <label>Set Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>numEventCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Existing_Event</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Id</name>
        <label>Set Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEventDetailId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Id_from_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Id_from_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Action</name>
        <label>Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Matching_Event_or_Other_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error No Event Found</defaultConnectorLabel>
        <rules>
            <name>Error_Multiple_Events_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numEventCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiple_Error</targetReference>
            </connector>
            <label>Error Multiple Events Found</label>
        </rules>
        <rules>
            <name>Happy_Update_Event_Detail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numEventCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extract_Id_from_Collection</targetReference>
            </connector>
            <label>Happy Update Event Detail</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forAttendeeUrl</name>
        <dataType>String</dataType>
        <expression>{!varBaseUrl}&amp;{!$Record.ERT_Event_Id__c}&amp;&apos;?regType=&apos;&amp;{!$Record.ERT_Registration_Type_Id__c}</expression>
    </formulas>
    <formulas>
        <name>forMilitaryUrl</name>
        <dataType>String</dataType>
        <expression>{!varBaseUrl}&amp;{!$Record.ERT_Event_Id__c}&amp;&apos;?regType=&apos;&amp;{!$Record.ERT_Military_Registration_ID__c}</expression>
    </formulas>
    <formulas>
        <name>forPastorUrl</name>
        <dataType>String</dataType>
        <expression>{!varBaseUrl}&amp;{!$Record.ERT_Event_Id__c}&amp;&apos;?regType=&apos;&amp;{!$Record.ERT_Pastor_Registration_Id__c}</expression>
    </formulas>
    <formulas>
        <description>Set this to different bases as development progress ending with the production url</description>
        <name>varBaseUrl</name>
        <dataType>String</dataType>
        <expression>&quot;https://stage.eventregistrationtool.com/register/&quot;</expression>
    </formulas>
    <interviewLabel>Event Staging | After insert update | Update Event Detail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Staging | After insert update | Update Event Detail</label>
    <loops>
        <name>Extract_Id_from_Collection</name>
        <label>Extract Id from Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Existing_Event</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Event_Detail_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Existing_Event</name>
        <label>Existing Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event_Abriviation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Event_Detail_Update</name>
        <label>Event Detail Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEventDetailId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ExternaliD__c</field>
            <value>
                <elementReference>$Record.ERT_Event_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Link_Military__c</field>
            <value>
                <elementReference>forMilitaryUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Link_Pastor__c</field>
            <value>
                <elementReference>forPastorUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Link__c</field>
            <value>
                <elementReference>forAttendeeUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Price_Military__c</field>
            <value>
                <elementReference>$Record.ERT_Military_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Price_Pastor__c</field>
            <value>
                <elementReference>$Record.ERT_Pastor_Pricing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Price__c</field>
            <value>
                <elementReference>$Record.ERT_Registration_Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event_Details__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Multiple_Error</name>
        <label>Multiple Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Process_Text__c</field>
            <value>
                <stringValue>Multiple Events with Event Code</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>No_Matching_Event_or_Other_Error</name>
        <label>No Matching Event or Other Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Process_Text__c</field>
            <value>
                <stringValue>Problem Resolving the Event Detail Record</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Success</name>
        <label>Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Event_Abriviation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process_Text__c</field>
            <value>
                <stringValue>Updated Success</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Processed_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Staging_Events__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Existing_Event</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>numEventCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varEventDetailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
