force-app/main/default/flows/Event_Detail_Screen_Flow_Validate_Event_for_WP_Publication.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Created_Public_Group</name>
        <label>Created Public Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updEventDetail.Public_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Non_Specific_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ERT_Specific_Values</name>
        <label>ERT Specific Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updEventDetail.WP_CL_Links__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forERTLinks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Public_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Matched_Public_Group</name>
        <label>Matched Public Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updEventDetail.Public_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Group_Check.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Non_Specific_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Non_Specific_Assignments</name>
        <label>Non Specific Assignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updEventDetail.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.WP_CL_Pricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forERTPricing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.WP_CL_Speakers__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.WP_CL_Published__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forPublished</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.WP_CL_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forLocation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.WP_CL_Geo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forGeoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.WP_CL_Speakers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forSpeakerCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Event_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cvent_Specific_Values</name>
        <label>Set Cvent Specific Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updEventDetail.WP_CL_Links__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forCventLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Public_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Existing_Public_Group</name>
        <label>Set Existing Public Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updEventDetail.Public_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Event_Detail.Public_Group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Non_Specific_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Speaker_Count</name>
        <label>Set Speaker Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>numSpeakerCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Event_Staff</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Source</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Good_Event</name>
        <label>Good Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Event_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Valid</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Event_Detail.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Staff</targetReference>
            </connector>
            <label>Yes Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Exists</name>
        <label>Group Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>New_Public_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create</defaultConnectorLabel>
        <rules>
            <name>Yes_Use_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Group_Check.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matched_Public_Group</targetReference>
            </connector>
            <label>Yes Use Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Public_Group</name>
        <label>Has Public Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Group_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Public Group</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Event_Detail.Public_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Existing_Public_Group</targetReference>
            </connector>
            <label>Yes Existing Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Source</name>
        <label>Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Source_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cvent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Event_Detail.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cvent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cvent_Specific_Values</targetReference>
            </connector>
            <label>Cvent</label>
        </rules>
        <rules>
            <name>ERT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Event_Detail.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Event_Detail.Source__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ERT_Specific_Values</targetReference>
            </connector>
            <label>ERT</label>
        </rules>
    </decisions>
    <description>Adds the creation of the public group used later for sharing records with the event team</description>
    <environments>Default</environments>
    <formulas>
        <name>forCventLink</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISNULL({!Event_Detail.Cvent_Site__c}),false,true)</expression>
    </formulas>
    <formulas>
        <name>forERTLinks</name>
        <dataType>Boolean</dataType>
        <expression>IF(
OR(IsNull({!Event_Detail.Registration_Link__c}),
IsNull({!Event_Detail.Registration_Link_Military__c}),
IsNull({!Event_Detail.Registration_Link_Pastor__c})

)
,false,true)</expression>
    </formulas>
    <formulas>
        <name>forERTPricing</name>
        <dataType>Boolean</dataType>
        <expression>
IF(
OR(IsNULL({!Event_Detail.Registration_Price__c}),
IsNull({!Event_Detail.Registration_Price_Military__c}),
IsNull({!Event_Detail.Registration_Price_Pastor__c})
)
,false,true)</expression>
    </formulas>
    <formulas>
        <name>forGeoCode</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR(ISNULL({!Event_Detail.Event_Geo__Latitude__s}),ISNULL({!Event_Detail.Event_Geo__Longitude__s})),false,true)</expression>
    </formulas>
    <formulas>
        <name>forLocation</name>
        <dataType>Boolean</dataType>
        <expression>IF(
OR(
ISNULL({!Event_Detail.Hotel_Location__c}),
ISNULL({!Event_Detail.Conference_Location__c})
)
,false,true)</expression>
    </formulas>
    <formulas>
        <name>forPublished</name>
        <dataType>Boolean</dataType>
        <expression>IF(TEXT({!Event_Detail.Stage__c})=&apos;Planning&apos;,true,false)</expression>
    </formulas>
    <formulas>
        <name>forSpeakerCount</name>
        <dataType>Boolean</dataType>
        <expression>IF({!numSpeakerCount}&gt;1,true,false)</expression>
    </formulas>
    <formulas>
        <name>PubGroupName</name>
        <dataType>String</dataType>
        <expression>&quot;WTR00&quot;&amp; RIGHT({!Event_Detail.EventCode__c},4)</expression>
    </formulas>
    <interviewLabel>Event Detail | Screen Flow | Validate Event for WP Publication {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Detail | Screen Flow | Validate Event for WP Publication</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Public_Group</name>
        <label>New Public Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varNewGroupId</assignRecordIdToReference>
        <connector>
            <targetReference>Created_Public_Group</targetReference>
        </connector>
        <inputAssignments>
            <field>DeveloperName</field>
            <value>
                <elementReference>PubGroupName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DoesIncludeBosses</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DoesSendEmailToMembers</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PubGroupName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </inputAssignments>
        <object>Group</object>
    </recordCreates>
    <recordLookups>
        <name>Event_Detail</name>
        <label>Event Detail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Good_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Event_Staff</name>
        <label>Event Staff</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Speaker_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Event_Detail.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Speaker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>20.0</numberValue>
        </limit>
        <object>Event_Worker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Group_Check</name>
        <label>Group Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PubGroupName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Event_Detail</name>
        <label>Update the Event Detail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>updEventDetail</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Event_Error_Screen</name>
        <label>Event Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_SourceErrorTxt</name>
            <fieldText>&lt;p&gt;There was no Event Detail found for this Id. Contact Salesforce Help&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Source_Error_Screen</name>
        <label>Source Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SourceErrorTxt</name>
            <fieldText>&lt;p&gt;The Source field is set to &quot;{!Event_Detail.Source__c}&quot;&lt;/p&gt;&lt;p&gt;It needs to be one of the following&lt;/p&gt;&lt;ul&gt;&lt;li&gt;ERT&lt;/li&gt;&lt;li&gt;Cvent&lt;/li&gt;&lt;li&gt;Migrated&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_SourceErrorTxt</name>
            <fieldText>&lt;p&gt;The following have been set on the event detail.&lt;/p&gt;&lt;p&gt;Speakers: {!updEventDetail.WP_CL_Speakers__c}&lt;/p&gt;&lt;p&gt;Location: {!updEventDetail.WP_CL_Location__c}&lt;/p&gt;&lt;p&gt;Links: {!updEventDetail.WP_CL_Links__c}&lt;/p&gt;&lt;p&gt;Pricing:{!updEventDetail.WP_CL_Pricing__c}&lt;/p&gt;&lt;p&gt;Geo:{!updEventDetail.WP_CL_Geo__c}&lt;/p&gt;&lt;p&gt;Published: {!updEventDetail.WP_CL_Published__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Event_Detail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>numSpeakerCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updEventDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event_Details__c</objectType>
    </variables>
    <variables>
        <name>varNewGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
