force-app/main/default/flows/Event_Detail_After_Insert_Update_Configure_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>New_Id</name>
        <label>New Id</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>$Record.Inventory_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Inv_Loc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Inv_Location_Null</name>
        <label>Inv Location Null</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>New_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Inv_Loc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_location.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inventory_Location</targetReference>
            </connector>
            <label>No Inv Loc</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Inv_Location_Null</name>
        <label>Is Inv Location Null</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inventory Location Present</defaultConnectorLabel>
        <rules>
            <name>No_Inventory_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inventory_Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_location</targetReference>
            </connector>
            <label>No Inventory Location</label>
        </rules>
    </decisions>
    <description>This checks for and creates a Public Group for Records Sharing or Inventory Location</description>
    <environments>Default</environments>
    <formulas>
        <name>forCampCode</name>
        <dataType>String</dataType>
        <expression>MID(TEXT(YEAR({!$Record.Start_Date__c})),3,2)&amp;&quot;VOW&quot;&amp;{!$Record.Counter__c}</expression>
    </formulas>
    <formulas>
        <name>forCityState</name>
        <dataType>String</dataType>
        <expression>{!$Record.City_1__c} &amp; &quot;, &quot; &amp;{!$Record.State__c}</expression>
    </formulas>
    <formulas>
        <name>forDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Public Group for &quot;&amp; {!$Record.Conference_Location_Name__c} &amp; &quot; used for sharing registrations and survey results with volunteers in the event team experience site.&quot;</expression>
    </formulas>
    <formulas>
        <name>forEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(MONTH({!$Record.Start_Date__c})&gt;8,DATE(YEAR({!$Record.Start_Date__c})+1, 8, 31),DATE(YEAR({!$Record.Start_Date__c}), 8, 31))</expression>
    </formulas>
    <formulas>
        <name>forName</name>
        <dataType>String</dataType>
        <expression>{!$Record.City_1__c}&amp; &quot; &quot; &amp;Left(Text({!$Record.Event_Type__c}),3)&amp;&quot; &quot; &amp;  Text(Month({!$Record.Start_Date__c}))&amp; &quot; &quot; &amp; Text(Year({!$Record.Start_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>forNameLoc</name>
        <dataType>String</dataType>
        <expression>{!$Record.EventCode__c}&amp; &quot; - INV&quot;</expression>
    </formulas>
    <formulas>
        <name>forPubGroupName</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.EventCode__c},3)&amp;&quot;00&quot;&amp;RIGHT({!$Record.EventCode__c},4)</expression>
    </formulas>
    <formulas>
        <name>InvntoryLocation</name>
        <dataType>String</dataType>
        <expression>{!$Record.EventCode__c} &amp;&quot;-INV&quot;</expression>
    </formulas>
    <formulas>
        <name>LocationName</name>
        <dataType>String</dataType>
        <expression>{!$Record.EventCode__c} &amp;&quot; - INV&quot;</expression>
    </formulas>
    <interviewLabel>Event Detail | After Insert Update | Configure Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Detail | After Insert Update | Configure Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Inventory_Location</name>
        <label>Inventory Location</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignRecordIdToReference>InvLocation</assignRecordIdToReference>
        <connector>
            <targetReference>New_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.Conference_Location__r.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Comments__c</field>
            <value>
                <elementReference>$Record.Shipping_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>S</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Phone__c</field>
            <value>
                <elementReference>$Record.Hotel_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Fax__c</field>
            <value>
                <elementReference>$Record.Event_Fax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Comment__c</field>
            <value>
                <elementReference>$Record.Shipping_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>$Record.Conference_Location__r.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store_Product_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_Address__c</field>
            <value>
                <elementReference>$Record.Conference_Location__r.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Code__c</field>
            <value>
                <elementReference>$Record.Conference_Location__r.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory_Location__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_location</name>
        <label>get location</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inv_Location_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Event</name>
        <label>Update Event</label>
        <locationX>336</locationX>
        <locationY>1031</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Inv_Location_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inventory_Location__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Event Canceled</stringValue>
            </value>
        </filters>
        <object>Event_Details__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>campMemStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>InventoryLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory_Location__c</objectType>
    </variables>
    <variables>
        <name>InvLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newCamp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>varPublicGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
