force-app/main/default/flows/Event_Detail_Screen_Flow_Clone_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Rooms</name>
        <label>Add Rooms</label>
        <locationX>490</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>newRooms</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleRoom</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Room_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Force_Lat_and_long</name>
        <label>Force Lat and long</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>numLong</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Event.Event_Geo__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numLat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Event.Event_Geo__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Provide_New_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>new_Affilations</name>
        <label>new Affilations</label>
        <locationX>490</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>newAffiliations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleAffiliate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Affiliate_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Room_Assignment</name>
        <label>Room Assignment</label>
        <locationX>490</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>singleRoom.Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewEventId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.Event_Room__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Loop.Event_Room__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.Room_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Loop.Room_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.Room_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Loop.Room_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Loop.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.Commision_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Loop.Commision_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.Guarantee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Loop.Guarantee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.Room_Width__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Loop.Room_Width__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.Room_Intrusion_Depth_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Loop.Room_Intrusion_Depth_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.Room_Intrusion_Depth_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Loop.Room_Intrusion_Depth_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.Room_Intrusion_Width_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Loop.Room_Intrusion_Width_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.Room_Intrusion_Width_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Loop.Room_Intrusion_Width_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.Room_Height__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Loop.Room_Height__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.Room_Depth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Loop.Room_Depth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.Sections__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Loop.Sections__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.Reserved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Loop.Reserved__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.Commission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Loop.Commission__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.Negotiated_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Loop.Negotiated_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.Rack_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Loop.Rack_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.Comp_Needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Loop.Comp_Needed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.SqFt_Per_Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Loop.SqFt_Per_Person__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.Block_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.Block_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.Room_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Rooms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_Assignement</name>
        <label>Single Assignement</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>singleAffiliate.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Affiliate_Loop.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAffiliate.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Affiliate_Loop.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAffiliate.Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Affiliate_Loop.Contact_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAffiliate.Contact_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Affiliate_Loop.Contact_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAffiliate.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Affiliate_Loop.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAffiliate.Event_Contact_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Affiliate_Loop.Event_Contact_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAffiliate.Event_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewEventId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAffiliate.Role_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Affiliate_Loop.Role_Other__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAffiliate.Role_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Affiliate_Loop.Role_Detail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAffiliate.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Affiliate_Loop.Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>new_Affilations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Event_Exists</name>
        <label>Event Exists</label>
        <locationX>226</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Create_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Event_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Event_existing.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Already_Exists</targetReference>
            </connector>
            <label>Existing Event Code</label>
        </rules>
    </decisions>
    <description>2/4/26 added geo location and public group to clone</description>
    <dynamicChoiceSets>
        <name>TypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Event_Version__c</picklistField>
        <picklistObject>Event_Details__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Event Detail | Screen Flow | Clone Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Detail | Screen Flow | Clone Event</label>
    <loops>
        <name>Affiliate_Loop</name>
        <label>Affiliate Loop</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <collectionReference>Affiliations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Single_Assignement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Affiliations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Room_Loop</name>
        <label>Room Loop</label>
        <locationX>402</locationX>
        <locationY>1514</locationY>
        <collectionReference>Rooms</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Room_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Rooms</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Affiliations</name>
        <label>Create Affiliations</label>
        <locationX>402</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Rooms</targetReference>
        </connector>
        <inputReference>newAffiliations</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New</name>
        <label>Create New</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>varNewEventId</assignRecordIdToReference>
        <connector>
            <targetReference>Affiliations</targetReference>
        </connector>
        <inputAssignments>
            <field>Attendance_Goal__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City_1__c</field>
            <value>
                <elementReference>Current_Event.Conference_Location__r.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City_2__c</field>
            <value>
                <elementReference>Current_Event.Conference_Location__r.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conference_Location__c</field>
            <value>
                <elementReference>Current_Event.Conference_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Attendance__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventCode__c</field>
            <value>
                <elementReference>Event_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Area_Code__c</field>
            <value>
                <elementReference>Current_Event.Event_Area_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Geo__Latitude__s</field>
            <value>
                <elementReference>Current_Event.Event_Geo__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Geo__Longitude__s</field>
            <value>
                <elementReference>Current_Event.Event_Geo__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Version__c</field>
            <value>
                <elementReference>Event_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Holy_Spirit_Actual__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indicated_Decision_Actual__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Event_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Public_Group__c</field>
            <value>
                <elementReference>Current_Event.Public_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Setup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State_2__c</field>
            <value>
                <elementReference>Current_Event.Conference_Location__r.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>Current_Event.Conference_Location__r.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_1__c</field>
            <value>
                <elementReference>Current_Event.Conference_Location__r.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_2__c</field>
            <value>
                <elementReference>Current_Event.Conference_Location__r.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Alumni__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Canceled__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_No_Show__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Singles__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Code_1__c</field>
            <value>
                <elementReference>Current_Event.Conference_Location__r.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Code_2__c</field>
            <value>
                <elementReference>Current_Event.Conference_Location__r.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <object>Event_Details__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Rooms</name>
        <label>Create Rooms</label>
        <locationX>402</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>New_Event</targetReference>
        </connector>
        <inputReference>newRooms</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Affiliations</name>
        <label>Affiliations</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Affiliate_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewEventId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Affiliations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Current_Event</name>
        <label>Current Event</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Force_Lat_and_long</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event_Details__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>Additional_PU_Fri__c</queriedFields>
        <queriedFields>Additional_PU_Sat__c</queriedFields>
        <queriedFields>AV_Description__c</queriedFields>
        <queriedFields>AV_Type__c</queriedFields>
        <queriedFields>Capacity__c</queriedFields>
        <queriedFields>Capacity_Comment__c</queriedFields>
        <queriedFields>Check_In_Time__c</queriedFields>
        <queriedFields>Check_Out_Time__c</queriedFields>
        <queriedFields>Commuter_Parking__c</queriedFields>
        <queriedFields>Conference_Location__c</queriedFields>
        <queriedFields>Contract_Signed__c</queriedFields>
        <queriedFields>Concierge__c</queriedFields>
        <queriedFields>Daytime_Phone__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Doc_Hours__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Event_Fax__c</queriedFields>
        <queriedFields>Event_Type__c</queriedFields>
        <queriedFields>EventCode__c</queriedFields>
        <queriedFields>ExternaliD__c</queriedFields>
        <queriedFields>FL_Discounted_Room_Cost__c</queriedFields>
        <queriedFields>Event_Area_Code__c</queriedFields>
        <queriedFields>GL_Account__c</queriedFields>
        <queriedFields>GL_Code__c</queriedFields>
        <queriedFields>GL_Dept__c</queriedFields>
        <queriedFields>Hotel_Location__c</queriedFields>
        <queriedFields>Inside_Delivery__c</queriedFields>
        <queriedFields>Internal_Comments__c</queriedFields>
        <queriedFields>Inventory_Location__c</queriedFields>
        <queriedFields>LiftGate__c</queriedFields>
        <queriedFields>Meeting_Room_Comment__c</queriedFields>
        <queriedFields>Meeting_Room_Fees__c</queriedFields>
        <queriedFields>Military__c</queriedFields>
        <queriedFields>Military_Emphasis__c</queriedFields>
        <queriedFields>Min_PU_Fri__c</queriedFields>
        <queriedFields>Min_PU_Sat__c</queriedFields>
        <queriedFields>Min_PU_to_Avoid_Charges__c</queriedFields>
        <queriedFields>MR_Comp_Rooms__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Number_of_Rooms__c</queriedFields>
        <queriedFields>Operational_Comment__c</queriedFields>
        <queriedFields>Operational_Fees__c</queriedFields>
        <queriedFields>Other_Session_Description__c</queriedFields>
        <queriedFields>Other_Sessions__c</queriedFields>
        <queriedFields>Pallet_Jack__c</queriedFields>
        <queriedFields>Parking_Comment__c</queriedFields>
        <queriedFields>Parking_Cost__c</queriedFields>
        <queriedFields>Primary_Promo_Nights__c</queriedFields>
        <queriedFields>Region__c</queriedFields>
        <queriedFields>Reservation_Cutoff_Date__c</queriedFields>
        <queriedFields>Reservation_Phone__c</queriedFields>
        <queriedFields>Reservation_Url__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>Stage__c</queriedFields>
        <queriedFields>Shuttle__c</queriedFields>
        <queriedFields>Shipping_Comments__c</queriedFields>
        <queriedFields>Seats_Allocated__c</queriedFields>
        <queriedFields>Sales_Tax__c</queriedFields>
        <queriedFields>Resource_Center__c</queriedFields>
        <queriedFields>Cru_Source__c</queriedFields>
        <queriedFields>Event_Geo__Latitude__s</queriedFields>
        <queriedFields>Event_Geo__Longitude__s</queriedFields>
        <queriedFields>Public_Group__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Event_existing</name>
        <label>Event existing</label>
        <locationX>226</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Event_Code</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Rooms</name>
        <label>Rooms</label>
        <locationX>402</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Room_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewEventId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event_Room__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Event_Already_Exists</name>
        <label>Event Already Exists</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ExistingMsg</name>
            <fieldText>&lt;p&gt;{!Event_existing.EventCode__c} has already been used. &lt;/p&gt;&lt;p&gt;Search for that record and edit the old code, or use a different event code. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Event</name>
        <label>New Event</label>
        <locationX>402</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NewRecord</name>
            <extensionName>c:FlowRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>varNewEventId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Provide_New_Values</name>
        <label>Provide New Values</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Event_existing</targetReference>
        </connector>
        <fields>
            <name>Event_Name</name>
            <dataType>String</dataType>
            <fieldText>Event Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Event_Code</name>
            <dataType>String</dataType>
            <fieldText>Event Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Event_Type</name>
            <choiceReferences>TypeChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Event Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Current_Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CloneEvent</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event_Details__c</objectType>
    </variables>
    <variables>
        <name>newAffiliations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Affiliations__c</objectType>
    </variables>
    <variables>
        <name>newRooms</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event_Room__c</objectType>
    </variables>
    <variables>
        <name>numLat</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numLong</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleAffiliate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Affiliations__c</objectType>
    </variables>
    <variables>
        <name>singleRoom</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event_Room__c</objectType>
    </variables>
    <variables>
        <name>varNewEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
