force-app/main/default/flows/Event_Detail_Before_Insert_Set_Area_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Area_Code</name>
        <label>Assign Area Code</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Event_Area_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Area_Code.Event_Area_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Event_Detail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Zip_Code</name>
        <label>Found Zip Code</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Area_Code_Foun</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Zip_Code_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Area_Code</targetReference>
            </connector>
            <label>Area Code Foun</label>
        </rules>
    </decisions>
    <description>This flow uses the zip code from the conference location and sets the Event Area for the Event</description>
    <environments>Default</environments>
    <interviewLabel>Event Detail | Before Insert | Set Area Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Detail | Before Insert | Set Area Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Area_Code</name>
        <label>Get Area Code</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Area_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zip_Code_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Zip_Code_1__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Event_Area_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Zip_Code_Assignments__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Event_Area_Code__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Event_Detail</name>
        <label>Update Event Detail</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Found_Zip_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Area_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Event_Details__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
