force-app/main/default/flows/Event_Detail_Screen_Flow_Event_Team_Open.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Share_Registrations_and_Surveys</name>
        <label>Share Registrations and Surveys</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>flEventRecordSharingAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Results_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>eventId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>flEventRecordSharingAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Worker_Count</name>
        <label>Worker Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>numUserCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Event_Workers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Share_Registrations_and_Surveys</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <description>Currently refreshes the registration and survey shares.
TO DO set up worker permissions for community</description>
    <environments>Default</environments>
    <interviewLabel>Event Detail | Screen Flow | Event Team Open {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Detail | Screen Flow | Event Team Open</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Event_Workers</name>
        <label>Event Workers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Worker_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>100.0</numberValue>
        </limit>
        <object>Event_Worker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_to_Open</name>
        <label>Set to Open</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Event_Details__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Results_Screen</name>
        <label>Results Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_to_Open</targetReference>
        </connector>
        <fields>
            <name>ResultsTxt</name>
            <fieldText>&lt;p&gt;Currently this checks all Registrations and Survey Records associated with this event are shared with the Public Group on the Record.&lt;/p&gt;&lt;p&gt;Displays the number of workers that will need to be added to the community for access.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;TODO &lt;/p&gt;&lt;p&gt;Still working on onboarding process, when, who and how. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Registrations Synced {!Share_Registrations_and_Surveys.registrationShareCount}&lt;/li&gt;&lt;li&gt;Surveys synced {!Share_Registrations_and_Surveys.surveyShareCount}&lt;/li&gt;&lt;li&gt;Volunteer Count {!numUserCount}&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Event_Workers</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>numUserCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
