force-app/main/default/flows/Event_Detail_Screen_Flow_Close_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_Contact</name>
        <label>add Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reg_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_update_list</name>
        <label>add to update list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updRegistrations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singRegistration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reg_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_To_Update</name>
        <label>Contact To Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>singContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reg_Loop.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singContact.WTR_Last__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reg_Loop.Check_in_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numContactCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.Attendance_Actual__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cancelled_Count</name>
        <label>Set Cancelled Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updEventDetail.Total_Canceled__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reg_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_No_Show</name>
        <label>Set No Show</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updEventDetail.Total_No_Show__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reg_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Prayer_Request_In_App</name>
        <label>Set Prayer Request In App</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updEventDetail.Prayers_Submitted_in_App__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forPrayerRequestInLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_of_Survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Response_Numbers</name>
        <label>Set Response Numbers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updEventDetail.Salvation_Decisions__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forRegSalvation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.Recommitted_Life_Actual__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forRecommitReg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.Invite__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forInviteReg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.Local__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forLocalReg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.Lead_Small_Groups__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forGroupReg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.Community__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forCommunityReg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.Military_Attended__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forMilitary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.Pastor_Attended__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forPastor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Delete</name>
        <label>Set to Delete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>delSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singSurveyResp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Survey_Responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_No_Show</name>
        <label>Set to No Show</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>singRegistration.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reg_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singRegistration.Registration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N - NoShow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.Total_No_Show__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_update_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Total_Registrations</name>
        <label>Set Total Registrations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>numRegCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Registrations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Event_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Total_Survey_Count</name>
        <label>Set Total Survey Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>numSurveyCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Survey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reg_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Update_Event_Id</name>
        <label>Set Update Event Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updEventDetail.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Event_Detail.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.Invite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.Total_Canceled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.Total_No_Show__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.Invite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.Lead_Small_Groups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.Local__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.Salvation_Decisions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.Recommitted_Life_Actual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.Community__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.Attendance_Actual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.Pastor_Attended__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.Military_Attended__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updEventDetail.Prayers_Submitted_in_App__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Authorized_to_Close</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_Eval</name>
        <label>Single Eval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>singSurveyResp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survey_Responses.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singSurveyResp.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Remove</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Survey_Response_Remove</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_Grow_Mission</name>
        <label>Single Grow Mission</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>singSurveyResp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survey_Responses.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singSurveyResp.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Remove</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Survey_Response_Remove</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_Remove</name>
        <label>Single Remove</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>singSurveyResp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survey_Responses.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_to_Delete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Survey_Response_Remove</name>
        <label>Survey Response Remove</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updSurveyResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singSurveyResp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Survey_Responses</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Are_there_surveys_to_delete</name>
        <label>Are there surveys to delete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Event_Detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countPrayerRequests</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Surveys</targetReference>
            </connector>
            <label>Yes Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Authorized_to_Close</name>
        <label>Authorized to Close</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Authorized_to_Close_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Authorized</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forUserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Can_Proceed</targetReference>
            </connector>
            <label>Yes Authorized</label>
        </rules>
    </decisions>
    <decisions>
        <name>Can_Proceed</name>
        <label>Can Proceed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Date_Close_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cannot Close</defaultConnectorLabel>
        <rules>
            <name>Yes_Allow_Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Event_Detail.End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inform_Screen</targetReference>
            </connector>
            <label>Yes Allow Close</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contacts_to_Update</name>
        <label>Contacts to Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Survey_Responses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contacts</defaultConnectorLabel>
        <rules>
            <name>Yes_update_contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numContactCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Last_Attended</targetReference>
            </connector>
            <label>Yes update contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registrations_to_Updated</name>
        <label>Registrations to Updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Contacts_to_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None to Update</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Registrations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numRegCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Registrations</targetReference>
            </connector>
            <label>Yes Update Registrations</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Reg_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Action</defaultConnectorLabel>
        <rules>
            <name>Registered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reg_Loop.Registration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C - Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_No_Show</targetReference>
            </connector>
            <label>Registered</label>
        </rules>
        <rules>
            <name>Attended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reg_Loop.Registration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A - Attended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_To_Update</targetReference>
            </connector>
            <label>Attended</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reg_Loop.Registration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>X - Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cancelled_Count</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
        <rules>
            <name>No_Show</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reg_Loop.Registration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N - NoShow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_No_Show</targetReference>
            </connector>
            <label>No Show</label>
        </rules>
    </decisions>
    <decisions>
        <name>Surveys_to_Update</name>
        <label>Surveys to Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Are_there_surveys_to_delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing to Update</defaultConnectorLabel>
        <rules>
            <name>Yes_Updates_to_do</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updSurveyResponse</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Survey_Responses</targetReference>
            </connector>
            <label>Yes Updates to do</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Survey</name>
        <label>Type of Survey</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Survey_Responses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Action</defaultConnectorLabel>
        <rules>
            <name>Questions_and_Prayer_Requests</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Survey_Responses.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prayer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Survey_Responses.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Question</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_Remove</targetReference>
            </connector>
            <label>Questions and Prayer Requests</label>
        </rules>
        <rules>
            <name>Grow_and_Mission</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Survey_Responses.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Question</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Survey_Responses.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_Grow_Mission</targetReference>
            </connector>
            <label>Grow and Mission</label>
        </rules>
        <rules>
            <name>Evaluation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey_Responses.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_Eval</targetReference>
            </connector>
            <label>Evaluation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forCommunityReg</name>
        <dataType>Number</dataType>
        <expression>IF({!Reg_Loop.Community__c}=true,1,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forGroupReg</name>
        <dataType>Number</dataType>
        <expression>IF({!Reg_Loop.Lead_Small_Group__c}=true,1,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forInviteReg</name>
        <dataType>Number</dataType>
        <expression>IF({!Reg_Loop.Invite_Others__c}=true,1,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forLocalReg</name>
        <dataType>Number</dataType>
        <expression>IF({!Reg_Loop.Local_Interest__c}=true,1,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forMilitary</name>
        <dataType>Number</dataType>
        <expression>IF({!Reg_Loop.Military__c}=true,1,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forPastor</name>
        <dataType>Number</dataType>
        <expression>IF({!Reg_Loop.Pastor__c}=true,1,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forPrayerRequestInLoop</name>
        <dataType>Number</dataType>
        <expression>IF(TEXT({!Survey_Responses.Type__c})=&apos;Prayer&apos;,1,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forRecommitReg</name>
        <dataType>Number</dataType>
        <expression>IF({!Reg_Loop.Recommitted_Life_to_Christ__c}=true,1,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forRegSalvation</name>
        <dataType>Number</dataType>
        <expression>IF({!Reg_Loop.Salvation_Decision__c}=true,1,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forUserId</name>
        <dataType>String</dataType>
        <expression>LEFT({!Event_Detail.OwnerId},15)</expression>
    </formulas>
    <interviewLabel>Event Detail | Screen Flow | Close Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Detail | Screen Flow | Close Event</label>
    <loops>
        <name>Reg_Loop</name>
        <label>Reg Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Registrations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Response_Numbers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Registrations_to_Updated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Survey_Responses</name>
        <label>Survey Responses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Survey</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Prayer_Request_In_App</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Surveys_to_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Registration_Shares</name>
        <label>Delete Registration Shares</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delete_Survey_Shares</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Event_Detail.Public_Group__c</elementReference>
            </value>
        </filters>
        <object>Registration__Share</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Survey_Shares</name>
        <label>Delete Survey Shares</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirm</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Event_Detail.Public_Group__c</elementReference>
            </value>
        </filters>
        <object>Survey_Response__Share</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Surveys</name>
        <label>Delete Surveys</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Event_Detail</targetReference>
        </connector>
        <inputReference>delSurveys</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Event_Detail</name>
        <label>Event Detail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Update_Event_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Registrations</name>
        <label>Registrations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Total_Registrations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>2000.0</numberValue>
        </limit>
        <object>Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Survey</name>
        <label>Survey Responces</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Total_Survey_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>8000.0</numberValue>
        </limit>
        <object>Survey_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Last_Attended</name>
        <label>Set Last Attended</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Survey_Responses</targetReference>
        </connector>
        <inputReference>updContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Event_Detail</name>
        <label>Update Event Detail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delete_Registration_Shares</targetReference>
        </connector>
        <inputReference>updEventDetail</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Registrations</name>
        <label>Update Registrations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contacts_to_Update</targetReference>
        </connector>
        <inputReference>updRegistrations</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Sets the status to remove, and a scheduled job will purge these at a TBD age</description>
        <name>Update_Survey_Responses</name>
        <label>Update Survey Responses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Are_there_surveys_to_delete</targetReference>
        </connector>
        <inputReference>updSurveyResponse</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Authorized_to_Close_Screen</name>
        <label>Authorized to Close Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AuthorizedTxt</name>
            <fieldText>&lt;p&gt;You are not authorized to close this event&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm</name>
        <label>Confirm</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>cofirmtxt</name>
            <fieldText>&lt;p&gt;The Event Stage has been set to Complete.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;{!numContactCount} Contacts were updated&lt;/li&gt;&lt;li&gt;{!numRegCount} Registrations were updated&lt;/li&gt;&lt;li&gt;{!numSurveyCount} Surveys were deleted&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Date_Close_Screen</name>
        <label>Date Close Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CannotCloseDate</name>
            <fieldText>&lt;p&gt;The End Date of this event has not passed. Cannot Close Event at this time&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Delay_Screen</name>
        <label>Delay Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Survey</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_CannotCloseDate</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 21, 21);&quot;&gt;Depending on the size of the Event, this could take a few minutes. Please be patient and do not close this screen. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inform_Screen</name>
        <label>Inform Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delay_Screen</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_CannotCloseDate</name>
            <fieldText>&lt;p&gt;You are starting the Close Event Process&lt;/p&gt;&lt;p&gt;The following actions will be taken,&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Questions and Prayer Records Deleted&lt;/li&gt;&lt;li&gt;Registration and Survey Sharing to Volunteers removed&lt;/li&gt;&lt;li&gt;Surveys tied to attendees set to Remove&lt;/li&gt;&lt;li&gt;Event Stats updated&lt;/li&gt;&lt;li&gt;Event set to Completed&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Registrations</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>countAttended</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countCancelled</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countCommunity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countImpact</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countInvite</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countLocal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countNoshow</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countPrayerRequests</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countRecommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countSalvation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>delSurveys</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey_Response__c</objectType>
    </variables>
    <variables>
        <name>numContactCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numRegCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numSurveyCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>singRegistration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Registration__c</objectType>
    </variables>
    <variables>
        <name>singSurveyResp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey_Response__c</objectType>
    </variables>
    <variables>
        <name>updContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>updEventDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event_Details__c</objectType>
    </variables>
    <variables>
        <name>updRegistrations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Registration__c</objectType>
    </variables>
    <variables>
        <name>updSurveyResponse</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey_Response__c</objectType>
    </variables>
</Flow>
