force-app/main/default/flows/Registration_PE_Subscriber_Create_Record_Share.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Relivant</name>
        <label>Relivant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Ignore</defaultConnectorLabel>
        <rules>
            <name>Yes_Proces</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Share</targetReference>
            </connector>
            <label>Yes Proces</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Registration PE | Subscriber | Create Record Share {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration PE | Subscriber | Create Record Share</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Record_Share</name>
        <label>Record Share</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varRecordShareId</assignRecordIdToReference>
        <connector>
            <targetReference>Un_Publish</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Registration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Public_Group__c</elementReference>
            </value>
        </inputAssignments>
        <object>Registration__Share</object>
    </recordCreates>
    <recordUpdates>
        <name>Un_Publish</name>
        <label>Un Publish</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Registration__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Publish__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Share_Id__c</field>
            <value>
                <elementReference>varRecordShareId</elementReference>
            </value>
        </inputAssignments>
        <object>Registration__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Relivant</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Registration_PE__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varRecordShareId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
