force-app/main/default/flows/Registration_after_insert_update_create_or_update_Group_registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_MG_Id</name>
        <label>Set MG Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varMGRegId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MG_Registration.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MG</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing_MG_Reg</name>
        <label>Existing MG Reg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_MG_Reg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Registration</defaultConnectorLabel>
        <rules>
            <name>Yes_Registration_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MG_Registration.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MG_Id</targetReference>
            </connector>
            <label>Yes Registration Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forEligableCheckBox</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Paid_Amount__c}&gt;0,TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>forEligableQty</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.Paid_Amount__c}&gt;0,1,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forNotEligableQty</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.Paid_Amount__c}=0,1,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forPrimaryRegistrant</name>
        <dataType>String</dataType>
        <expression>{!$Record.Primary_Registration__r.Contact__r.FirstName} &amp;&quot; &quot; &amp;{!$Record.Primary_Registration__r.Contact__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>forStatus</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Paid_Amount__c}&gt;0,&quot;Eligible&quot;, &quot;Not Eligible&quot;)</expression>
    </formulas>
    <interviewLabel>Registration | after insert update | create or update Group registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration | after insert update | create or update Group registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_MG_Reg</name>
        <label>Create MG Reg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varMGRegId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Reg</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Household__c</field>
            <value>
                <elementReference>$Record.Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendee_Email__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CV_Paid__c</field>
            <value>
                <elementReference>$Record.Paid_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmation_Number__c</field>
            <value>
                <elementReference>$Record.External_Registration_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligible__c</field>
            <value>
                <elementReference>forEligableCheckBox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.Event_Detail__r.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Code__c</field>
            <value>
                <elementReference>$Record.Event_Detail__r.EventCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <stringValue>WTR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event__c</field>
            <value>
                <elementReference>$Record.Event_Detail__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group_Name_Submitted__c</field>
            <value>
                <elementReference>$Record.Ministry_Group_Submitted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ministry_Group__c</field>
            <value>
                <elementReference>$Record.Ministry_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <stringValue>Created from ERT Registration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>$Record.Paid_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Registrant__c</field>
            <value>
                <elementReference>forPrimaryRegistrant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promo_Code__c</field>
            <value>
                <elementReference>$Record.Promo_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qty_Eligible__c</field>
            <value>
                <elementReference>forEligableQty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qty_Ineligible__c</field>
            <value>
                <elementReference>forNotEligableQty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qty_Used__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Date__c</field>
            <value>
                <elementReference>$Record.Registered_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <elementReference>$Record.Registration_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Type__c</field>
            <value>
                <elementReference>$Record.Registration_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Event_Detail__r.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>forStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Ministry_Group_Registration__c</object>
    </recordCreates>
    <recordLookups>
        <name>MG_Registration</name>
        <label>MG Registration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_MG_Reg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Event_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ministry_Group_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_MG</name>
        <label>Update MG</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Reg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MG_Registration.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ministry_Group__c</field>
            <value>
                <elementReference>$Record.Ministry_Group__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ministry_Group_Registration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reg</name>
        <label>Update Reg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Group_Registration__c</field>
            <value>
                <elementReference>varMGRegId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ministry_Group__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Group_Registration__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Registration__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>MG_Registration</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varMGRegId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
