force-app/main/default/flows/Registration_PE_Subscriber_Update_Existing_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add</name>
        <label>Add</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updReg</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singReg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Group_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Group</name>
        <label>Set New Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>singReg.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_Group_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singReg.Ministry_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Ministry_Group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Registrant_Type</name>
        <label>Registrant Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Couple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Registrant_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Couple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Spouse</targetReference>
            </connector>
            <label>Couple</label>
        </rules>
        <rules>
            <name>Spouse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Registrant_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spouse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Couple</targetReference>
            </connector>
            <label>Spouse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Relevant</name>
        <label>Relevant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Does not Compute</defaultConnectorLabel>
        <rules>
            <name>Working</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MG_Registrations</targetReference>
            </connector>
            <label>Working</label>
        </rules>
    </decisions>
    <description>ERT</description>
    <environments>Default</environments>
    <interviewLabel>Registration PE | Subscriber | Update Existing Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration PE | Subscriber | Update Existing Registration</label>
    <loops>
        <name>Change_Group_Loop</name>
        <label>Change Group Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>MG_Registrations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_New_Group</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Them</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>MG_Registrations</name>
        <label>MG Registrations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Group_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Confirmation_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.External_Reg_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Ministry_Group_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Couple</name>
        <label>Update Couple</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Registration_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.External_Reg_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Registrant_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Couple</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Ministry_Group__c</field>
            <value>
                <elementReference>$Record.Ministry_Group__c</elementReference>
            </value>
        </inputAssignments>
        <object>Registration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Spouse</name>
        <label>Update Spouse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Registration_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.External_Reg_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Registrant_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Spouse</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ministry_Group__c</field>
            <value>
                <elementReference>$Record.Ministry_Group__c</elementReference>
            </value>
        </inputAssignments>
        <object>Registration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Them</name>
        <label>Update Them</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Registrant_Type</targetReference>
        </connector>
        <inputReference>updReg</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Relevant</targetReference>
        </connector>
        <flowRunAsUser>DefaultWorkflowUser</flowRunAsUser>
        <object>Registration_PE__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>singReg</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ministry_Group_Registration__c</objectType>
    </variables>
    <variables>
        <name>updReg</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ministry_Group_Registration__c</objectType>
    </variables>
</Flow>
