force-app/main/default/flows/Registration_Screen_Flow_Check_In.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Regs</name>
        <label>Add Regs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updRegs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singReg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_in_Regs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Reg_Count</name>
        <label>Set Reg Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>numRegCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Registrations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Single</name>
        <label>Set Single</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>singReg.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_in_Regs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >singReg.Registration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A - Attended</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singReg.Check_in_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Regs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Both</name>
        <choiceText>Check in All Attendees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Both</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue
      >{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Action</name>
        <label>Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Too_Many_Registrations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Problem</defaultConnectorLabel>
        <rules>
            <name>No_Registrations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numRegCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Registration_Error</targetReference>
            </connector>
            <label>No Registrations</label>
        </rules>
        <rules>
            <name>Only_One_Registration_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numRegCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Registration_Error</targetReference>
            </connector>
            <label>Only One Registration Found</label>
        </rules>
        <rules>
            <name>Two</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numRegCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registrations</targetReference>
            </connector>
            <label>Two</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_In_Both</name>
        <label>Check In Both</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Single_Check_In</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Single Check In</defaultConnectorLabel>
        <rules>
            <name>Yes_Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Who_are_you_checking_in</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Both</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_in_Regs</targetReference>
            </connector>
            <label>Yes Both</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>regList</name>
        <collectionReference>Get_Registrations</collectionReference>
        <dataType>String</dataType>
        <displayField>First_Name__c</displayField>
        <object>Registration__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel
  >Registration | Screen Flow | Check In {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration | Screen Flow | Check In</label>
    <loops>
        <name>Check_in_Regs</name>
        <label>Check in Regs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Registrations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Single</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Regs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Registrations</name>
        <label>Get Registrations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Reg_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Registration_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>extRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>5.0</numberValue>
        </limit>
        <object>Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Single_Check_In</name>
        <label>Single Check In</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Who_are_you_checking_in</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Check_in_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <stringValue>A - Attended</stringValue>
            </value>
        </inputAssignments>
        <object>Registration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Regs</name>
        <label>Update Regs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>updRegs</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>No_Registration_Error</name>
        <label>No Registration Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoRegErrorTxt</name>
            <fieldText
      >&lt;p&gt;ooops something went wrong, escalate this to a team member&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>One_Registration_Error</name>
        <label>One Registration Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_in_Regs</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_NoRegErrorTxt</name>
            <fieldText
      >&lt;p&gt;There was only registration found, this is not normal. Escalate this to a team member or click next to check in a single person. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Registrations</name>
        <label>Registrations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_In_Both</targetReference>
        </connector>
        <fields>
            <name>Who_are_you_checking_in</name>
            <choiceReferences>Both</choiceReferences>
            <choiceReferences>regList</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference
      >Both</defaultSelectedChoiceReference>
            <fieldText>Who are you checking in</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Too_Many_Registrations</name>
        <label>Too Many Registrations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_NoRegErrorTxt</name>
            <fieldText
      >&lt;p&gt;There are {!numRegCount} registrations found. this is not normal. Please escalate this to a team member. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Registrations</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>extRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>numRegCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singReg</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Registration__c</objectType>
    </variables>
    <variables>
        <name>updRegs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Registration__c</objectType>
    </variables>
</Flow>
