force-app/main/default/flows/Registration_PE_Subscriber_Process_Group_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Eligible</name>
        <label>Set Eligible</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>numEligible</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numQtyIneligable</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numQtyUsed</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtGroupRegStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Eligible</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_GM_Registration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Ineligable</name>
        <label>Set Ineligable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>numEligible</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numQtyIneligable</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numQtyUsed</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtGroupRegStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Eligible</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_GM_Registration</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_4</name>
        <label>Ministry Group Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MG_Registration.Ministry_Group__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Ministry_Group__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Registration_d</targetReference>
            </connector>
            <label>Yes Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligibal</name>
        <label>Eligable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Ineligable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Eligibale</defaultConnectorLabel>
        <rules>
            <name>Yes_Eligable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Paid_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Eligible</targetReference>
            </connector>
            <label>Yes Eligable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Registration</name>
        <label>Existing Registration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Eligibal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Registration</defaultConnectorLabel>
        <rules>
            <name>Registration_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MG_Registration.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_4</targetReference>
            </connector>
            <label>Registration Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Ministry_Group</name>
        <label>Has Ministry Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Ignore</defaultConnectorLabel>
        <rules>
            <name>Yes_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ministry_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Registration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MG_Registration</targetReference>
            </connector>
            <label>Yes Process</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Registration PE | Subscriber | Process Group Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration PE | Subscriber | Process Group Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_GM_Registration</name>
        <label>Create GM Registration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>txtMinistryGroupRegistration</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Registration</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Household__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendee_Email__c</field>
            <value>
                <elementReference>Registration.Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendee_First_Name__c</field>
            <value>
                <elementReference>Registration.Contact__r.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendee_Last_Name__c</field>
            <value>
                <elementReference>Registration.Contact__r.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendee_Phone__c</field>
            <value>
                <elementReference>Registration.Mobile_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CV_Paid__c</field>
            <value>
                <elementReference>$Record.Paid_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Registration.Contact__r.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmation_Number__c</field>
            <value>
                <elementReference>$Record.External_Reg_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.Event_End__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Code__c</field>
            <value>
                <elementReference>$Record.Event_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <stringValue>WTR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event__c</field>
            <value>
                <elementReference>$Record.Event_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group_Name_Submitted__c</field>
            <value>
                <elementReference>$Record.Ministry_Group_Submitted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ministry_Group__c</field>
            <value>
                <elementReference>$Record.Ministry_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <stringValue>Created from Registration PE Subscriber Manage MG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode__c</field>
            <value>
                <elementReference>Registration.Contact__r.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Registrant__c</field>
            <value>
                <elementReference>$Record.Registrant_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qty_Eligible__c</field>
            <value>
                <elementReference>numEligible</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qty_Ineligible__c</field>
            <value>
                <elementReference>numQtyIneligable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qty_Used__c</field>
            <value>
                <elementReference>numQtyUsed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Date__c</field>
            <value>
                <elementReference>$Record.Registered_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <elementReference>Registration.Registration_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Type__c</field>
            <value>
                <elementReference>$Record.Registration_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Event_Start__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>Registration.Contact__r.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>txtGroupRegStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Ministry_Group_Registration__c</object>
    </recordCreates>
    <recordLookups>
        <name>MG_Registration</name>
        <label>MG Registration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Registration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ministry_Group_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Registration</name>
        <label>Registration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Registration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Registration__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Registration</name>
        <label>Update Registration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Registration__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Group_Registration__c</field>
            <value>
                <elementReference>txtMinistryGroupRegistration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Registration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Registration_d</name>
        <label>Update Registration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Registration__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ministry_Group__c</field>
            <value>
                <elementReference>$Record.Ministry_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Registration__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Ministry_Group</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Registration_PE__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>numEligible</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numQtyIneligable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numQtyUsed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>txtGroupRegStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtMinistryGroupRegistration</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
