force-app/main/default/flows/Staging_Involvement_After_Update_TEMP_Create_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_MG_ID_InValid</name>
        <label>Set MG ID InValid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txtMGId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a4r3q000000hEGZAA2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Registration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MG_ID_Valid</name>
        <label>Set MG ID Valid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txtMGId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ministry_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Registration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status</name>
        <label>Set Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txtResStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Staging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Submitted</name>
        <label>Set Submitted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txtMgSubmitted</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Group_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Group_Name_Presented</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Anything that needs to get copied over from the primary assign here</description>
        <name>Set_Values_from_Couple</name>
        <label>Set Values from Couple</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txtMGId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Registration.Ministry_Group__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtMgSubmitted</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Registration.Ministry_Group_Submitted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtResStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPrimaryRegId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Registration.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Spouse_Registration</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Group_Name_Presented</name>
        <label>Group Name Presented</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>New_Registration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Validate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Group_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ministry_Group</targetReference>
            </connector>
            <label>Yes Validate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Couple</name>
        <label>Is Couple</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Failed_to_Create_Registration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Problem</defaultConnectorLabel>
        <rules>
            <name>Yes_Couple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FL_Registrant_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Couple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Submitted</targetReference>
            </connector>
            <label>Yes Couple</label>
        </rules>
        <rules>
            <name>Spouse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FL_Registrant_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spouse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Primary_Registration</targetReference>
            </connector>
            <label>Spouse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_GrupName</name>
        <label>Valid GrupName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_MG_ID_InValid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Valid</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ministry_Group.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MG_ID_Valid</targetReference>
            </connector>
            <label>Yes Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Attendee_Found</name>
        <label>Was Attendee Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Couple</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Attendee Found</defaultConnectorLabel>
        <rules>
            <name>No_Attendee_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Attendee_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Failed_Import_Status</targetReference>
            </connector>
            <label>No Attendee Found</label>
        </rules>
    </decisions>
    <description>Migration only processes source CVENT_RAW</description>
    <environments>Default</environments>
    <formulas>
        <name>forGCValue</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!$Record.GiftCardValue__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forGroupNameNoSpaces</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.Group_Name__c}, &apos; &apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>forLastFour</name>
        <dataType>String</dataType>
        <expression>Right({!$Record.Local_Phone_Number__c},4)</expression>
    </formulas>
    <formulas>
        <name>forMilitary</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.FL_Registration_Type__c}=&apos;Military&apos;,TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>forPastor</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.FL_Registration_Type__c}=&apos;Pastor&apos;,TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>forRefundDate</name>
        <dataType>Date</dataType>
        <expression>IF({!$Record.Payment_Type__c}=&apos;REFUND&apos;, DateValue({!$Record.ERT_Last_Updated__c}), NULL)</expression>
    </formulas>
    <interviewLabel>Staging Involvement | After Update | TEMP Create Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Staging Involvement | After Update | TEMP Create Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Registration</name>
        <label>New Registration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>txtRegistrationId</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>New_Reservation_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Cancelled_Date__c</field>
            <value>
                <elementReference>$Record.Date_Cancelled__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Date__c</field>
            <value>
                <elementReference>$Record.Date_Check_In__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Church_Attendance__c</field>
            <value>
                <elementReference>Attendee_Record.Church_Attendance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Church_City__c</field>
            <value>
                <elementReference>Attendee_Record.Church_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Church_Name__c</field>
            <value>
                <elementReference>Attendee_Record.Church_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Church_Phone__c</field>
            <value>
                <elementReference>Attendee_Record.Church_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Church_Position__c</field>
            <value>
                <elementReference>Attendee_Record.Church_Position__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Church_Postal_Code__c</field>
            <value>
                <elementReference>Attendee_Record.Church_Zip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Church_State__c</field>
            <value>
                <elementReference>Attendee_Record.Church_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Church_Street__c</field>
            <value>
                <elementReference>Attendee_Record.Church_Address_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Church_Website__c</field>
            <value>
                <elementReference>Attendee_Record.Church_Website__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.Mailing_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Matched_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERT_Updated__c</field>
            <value>
                <elementReference>$Record.ERT_Last_Updated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Area_Code__c</field>
            <value>
                <elementReference>$Record.Matched_Event__r.Event_Area_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Code__c</field>
            <value>
                <elementReference>$Record.Event_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Detail__c</field>
            <value>
                <elementReference>$Record.Matched_Event__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Contact_Id__c</field>
            <value>
                <elementReference>$Record.Contact_External_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Registration_Id__c</field>
            <value>
                <elementReference>$Record.Involvement_External_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FL_Involvement__c</field>
            <value>
                <elementReference>Attendee_Record.Church_Involvment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GC_Associated_Product__c</field>
            <value>
                <elementReference>$Record.GiftCardAssociatedProduct__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GC_Certificate__c</field>
            <value>
                <elementReference>$Record.GiftCardId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GC_GL_Code__c</field>
            <value>
                <elementReference>$Record.GiftCardGlCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GC_Value__c</field>
            <value>
                <elementReference>forGCValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household_Event_Area__c</field>
            <value>
                <elementReference>$Record.Household__r.Event_Zip_Code_Look_Up__r.Event_Area_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household__c</field>
            <value>
                <elementReference>$Record.Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Four__c</field>
            <value>
                <elementReference>forLastFour</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Military_Branch__c</field>
            <value>
                <elementReference>$Record.Branch_of_Service__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Military_Location__c</field>
            <value>
                <elementReference>$Record.Military_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Military__c</field>
            <value>
                <elementReference>forMilitary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ministry_Group_Submitted__c</field>
            <value>
                <elementReference>txtMgSubmitted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ministry_Group__c</field>
            <value>
                <elementReference>txtMGId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Phone__c</field>
            <value>
                <elementReference>$Record.Local_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paid_Amount__c</field>
            <value>
                <elementReference>$Record.Paid_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pastor__c</field>
            <value>
                <elementReference>forPastor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <elementReference>$Record.Payment_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promo_Code__c</field>
            <value>
                <elementReference>$Record.Promo_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Method__c</field>
            <value>
                <elementReference>Attendee_Record.Church_How_Hear__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Date__c</field>
            <value>
                <elementReference>$Record.Date_Registered__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registrant_Type__c</field>
            <value>
                <elementReference>$Record.FL_Registrant_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <elementReference>$Record.fl_Registration_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Type__c</field>
            <value>
                <elementReference>$Record.FL_Registration_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Cvent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Staging_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>$Record.Mailing_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_2__c</field>
            <value>
                <elementReference>$Record.Mailing_Address_Line_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>$Record.Mailing_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>$Record.Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waiver__c</field>
            <value>
                <elementReference>$Record.Waiver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Code__c</field>
            <value>
                <elementReference>$Record.Mailing_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>Registration__c</object>
    </recordCreates>
    <recordCreates>
        <name>New_Spouse_Registration</name>
        <label>New Spouse Registration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>txtRegistrationId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Primary_Registration</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Spouse_Fail</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Cancelled_Date__c</field>
            <value>
                <elementReference>$Record.Date_Cancelled__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Date__c</field>
            <value>
                <elementReference>$Record.Date_Check_In__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Church_Affiliation__c</field>
            <value>
                <elementReference>$Record.Church_Affiliation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Church_Attendance__c</field>
            <value>
                <elementReference>$Record.Church_Attendance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Church_City__c</field>
            <value>
                <elementReference>$Record.Church_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Church_Name__c</field>
            <value>
                <elementReference>$Record.Church_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Church_Phone__c</field>
            <value>
                <elementReference>$Record.Church_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Church_Position__c</field>
            <value>
                <elementReference>$Record.Church_Position__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Church_Postal_Code__c</field>
            <value>
                <elementReference>$Record.Church_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Church_State__c</field>
            <value>
                <elementReference>$Record.Church_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Church_Street__c</field>
            <value>
                <elementReference>$Record.Church_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Church_Website__c</field>
            <value>
                <elementReference>$Record.Church_Website__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.Mailing_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Matched_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERT_Updated__c</field>
            <value>
                <elementReference>$Record.ERT_Last_Updated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Area_Code__c</field>
            <value>
                <elementReference>$Record.Matched_Event__r.Event_Area_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Code__c</field>
            <value>
                <elementReference>$Record.Event_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Detail__c</field>
            <value>
                <elementReference>$Record.Matched_Event__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Contact_Id__c</field>
            <value>
                <elementReference>$Record.Contact_External_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Registration_Id__c</field>
            <value>
                <elementReference>$Record.Involvement_External_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FL_Involvement__c</field>
            <value>
                <elementReference>$Record.FL_Involvement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GC_Associated_Product__c</field>
            <value>
                <elementReference>$Record.GiftCardAssociatedProduct__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GC_Certificate__c</field>
            <value>
                <elementReference>$Record.GiftCardId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GC_GL_Code__c</field>
            <value>
                <elementReference>$Record.GiftCardGlCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GC_Value__c</field>
            <value>
                <elementReference>forGCValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household_Event_Area__c</field>
            <value>
                <elementReference>$Record.Household__r.Event_Zip_Code_Look_Up__r.Event_Area_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household__c</field>
            <value>
                <elementReference>$Record.Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Four__c</field>
            <value>
                <elementReference>forLastFour</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Military_Branch__c</field>
            <value>
                <elementReference>$Record.Branch_of_Service__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Military_Location__c</field>
            <value>
                <elementReference>$Record.Military_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Military__c</field>
            <value>
                <elementReference>forMilitary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ministry_Group_Submitted__c</field>
            <value>
                <elementReference>txtMgSubmitted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ministry_Group__c</field>
            <value>
                <elementReference>txtMGId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Phone__c</field>
            <value>
                <elementReference>$Record.Local_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paid_Amount__c</field>
            <value>
                <elementReference>$Record.Paid_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pastor__c</field>
            <value>
                <elementReference>forPastor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <elementReference>$Record.Payment_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Registration__c</field>
            <value>
                <elementReference>Get_Primary_Registration.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promo_Code__c</field>
            <value>
                <elementReference>$Record.Promo_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Method__c</field>
            <value>
                <elementReference>$Record.Referral__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Date__c</field>
            <value>
                <elementReference>$Record.Date_Registered__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registrant_Type__c</field>
            <value>
                <elementReference>$Record.FL_Registrant_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <elementReference>$Record.fl_Registration_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Type__c</field>
            <value>
                <elementReference>$Record.FL_Registration_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>ERT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Staging_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>$Record.Mailing_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_2__c</field>
            <value>
                <elementReference>$Record.Mailing_Address_Line_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>$Record.Mailing_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>$Record.Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waiver__c</field>
            <value>
                <elementReference>$Record.Waiver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Code__c</field>
            <value>
                <elementReference>$Record.Mailing_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>Registration__c</object>
    </recordCreates>
    <recordLookups>
        <name>Attendee_Record</name>
        <label>Attendee Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Attendee_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CM_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CM_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CventEvents__ConfirmationNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Registration_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CventEvents__Attendee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Registration</name>
        <label>Get Primary Registration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Values_from_Couple</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Registration_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Involvement_External_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Registrant_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Couple</stringValue>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cvent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Registration__c</object>
        <sortField>Cancelled_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ministry_Group</name>
        <label>Ministry Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_GrupName</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campus_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forGroupNameNoSpaces</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ministry_Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Failed_Import_Status</name>
        <label>Failed Import Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Failure_Info__c</field>
            <value>
                <stringValue>CVENT Attendee Not Found</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Involvement_Import_Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Failed_to_Create_Registration</name>
        <label>Failed to Create Registration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Failure_Info__c</field>
            <value>
                <stringValue>Was Neither Couple or Spouse</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Involvement_Import_Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>New_Reservation_Error</name>
        <label>New Reservation Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Failure_Info__c</field>
            <value>
                <stringValue>Primary Registration Failed to Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Involvement_Import_Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Spouse_Fail</name>
        <label>Spouse Fail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Failure_Info__c</field>
            <value>
                <stringValue>Spouse Failed to Create</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Registration</name>
        <label>Update Primary Registration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Staging</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPrimaryRegId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Spouse__c</field>
            <value>
                <elementReference>txtRegistrationId</elementReference>
            </value>
        </inputAssignments>
        <object>Registration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Staging</name>
        <label>Update Staging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Involvement_Import_Status__c</field>
            <value>
                <elementReference>txtResStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Matched_Involvement__c</field>
            <value>
                <elementReference>txtRegistrationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Imported</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Involvement_Import_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Process</stringValue>
            </value>
        </filters>
        <filters>
            <field>Matched_Involvement__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CVENT_RAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>Matched_Event__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Matched_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Staging_Involvement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Attendee_Record</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1600</triggerOrder>
    <variables>
        <name>RefundDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtMGId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtMgSubmitted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtRegistrationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtRegistrationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtResStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPrimaryRegId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRefundAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
