force-app/main/default/flows/Staging_Involvement_After_Update_Handle_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Event_Found</name>
        <label>Is Event Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_No_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error No Event Established</defaultConnectorLabel>
        <rules>
            <name>Existing_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Event</targetReference>
            </connector>
            <label>Existing Event</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Staging Involvement | After Update | Handle Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Staging Involvement | After Update | Handle Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Event</name>
        <label>Get Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Event_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Error_No_Event</name>
        <label>Error No Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Contact_Import_Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Failure_Info__c</field>
            <value>
                <stringValue>No Matching Event Found</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Event</name>
        <label>Set Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Event_Import_Status__c</field>
            <value>
                <stringValue>Matched</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Involvement_Import_Status__c</field>
            <value>
                <stringValue>Process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Matched_Event__c</field>
            <value>
                <elementReference>Get_Event.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Import_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Process</stringValue>
            </value>
        </filters>
        <object>Staging_Involvement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Event</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1300</triggerOrder>
</Flow>
