force-app/main/default/flows/Staging_Involvement_After_Insert_Update_Spouse_Match_or_Create_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignContactVaribles</name>
        <label>AssignContactVaribles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>searchContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>searchContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>searchContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>searchContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Local_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>searchContact.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Title__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Match</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Matched_Contact</name>
        <label>Set Matched Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updStagingInvolvemen.Matched_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Match.outContactMatch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updStagingInvolvemen.Contact_Import_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Matched</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updStagingInvolvemen.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtHousehold</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtHousehold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matched_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Contact</name>
        <label>Set New Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updStagingInvolvemen.Contact_Import_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updStagingInvolvemen.Matched_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updStagingInvolvemen.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Primary_Household</name>
        <label>Set Primary Household</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txtHousehold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Reg.Household__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignContactVaribles</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Result</name>
        <label>Contact Result</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>New_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Contact</defaultConnectorLabel>
        <rules>
            <name>Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Match.outDuplicate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matched_Contact</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Found</name>
        <label>Primary Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Failed_to_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Primary</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Reg.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Primary_Household</targetReference>
            </connector>
            <label>Yes Primary</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Staging Involvement | After Insert Update | Spouse Match or Create Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Staging Involvement | After Insert Update | Spouse Match or Create Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Contact</name>
        <label>New Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Account_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>txtHousehold</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>$Record.Mailing_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>$Record.Mailing_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>$Record.Mailing_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>$Record.Mailing_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Local_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>$Record.Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_System__c</field>
            <value>
                <stringValue>ERT WTR</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Contact</name>
        <label>Account Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_New_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Matched_Contact</name>
        <label>Matched Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Matched_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Match.outContactMatch</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Primary_Reg</name>
        <label>Primary Reg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Involvement_External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Involvement_External_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FL_Registrant_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Couple</stringValue>
            </value>
        </filters>
        <filters>
            <field>Household__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Staging_Involvement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Failed_to_Process</name>
        <label>Failed to Process</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Failure_Info__c</field>
            <value>
                <stringValue>No Primary Registration found</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Matched_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txtHousehold</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ERT_Registration_Id__c</field>
            <value>
                <elementReference>$Record.Involvement_External_Id__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Matched_Contact</name>
        <label>Update Matched Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Contact_Import_Status__c</field>
            <value>
                <elementReference>updStagingInvolvemen.Contact_Import_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Import_Status__c</field>
            <value>
                <stringValue>Process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household__c</field>
            <value>
                <elementReference>updStagingInvolvemen.Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Matched_Contact__c</field>
            <value>
                <elementReference>updStagingInvolvemen.Matched_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Matched_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Import_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Process</stringValue>
            </value>
        </filters>
        <filters>
            <field>FL_Registrant_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spouse</stringValue>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ERT</stringValue>
            </value>
        </filters>
        <object>Staging_Involvement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X5_Minutes_Later</name>
            <connector>
                <targetReference>Primary_Reg</targetReference>
            </connector>
            <label>5 Minutes Later</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Contact_Match</name>
        <label>Contact Match</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_Result</targetReference>
        </connector>
        <flowName>Contact_Subflow_Duplicate_Check</flowName>
        <inputAssignments>
            <name>searchContact</name>
            <value>
                <elementReference>searchContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSearchType</name>
            <value>
                <stringValue>Fields</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>searchContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>txtHousehold</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updStagingInvolvemen</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Staging_Involvement__c</objectType>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
