force-app/main/default/flows/Staging_Survey_Screen_Flow_Event_Evaluation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forCanQuote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Step_Children__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forStepChildren</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Wedding_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Wedding_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Evaluation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Age_Range</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Diminished__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Was_there_anything_the_speakers_did_or_said_that_diminished_your_experience</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Heard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forHowIHeard</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Impact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_Impact_did_this_getaway_have_on_your_marriage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Improve__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HowtoImprove</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Recommend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecommendRating</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Speaker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_did_you_appreciate_most_about_the_speakers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Attendee_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Registration.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Contact_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Registration.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Recommend_Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forRecommendRating</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Event_Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forEventRating</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Blended_Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forBlendedScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Event_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Registration.Event_Detail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Registration.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Registration.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Registration.Mobile_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Household_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Registration.Household__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Salvation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forEvalSalvation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Recommitment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forRecommitEval</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Community__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forCommunityEvent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Registration.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEventName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Registration.Event_Detail__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recStagingSurvey.Corporate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forCorporate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Staging_Survey</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Age1824</name>
        <choiceText>18-24</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>18-24</stringValue>
        </value>
    </choices>
    <choices>
        <name>Age2534</name>
        <choiceText>25-34</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>25-34</stringValue>
        </value>
    </choices>
    <choices>
        <name>Age3544</name>
        <choiceText>35-44</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>35-44</stringValue>
        </value>
    </choices>
    <choices>
        <name>Age4554</name>
        <choiceText>45-54</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>45-54</stringValue>
        </value>
    </choices>
    <choices>
        <name>Age5564</name>
        <choiceText>55-64</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>55-64</stringValue>
        </value>
    </choices>
    <choices>
        <name>Age65Plus</name>
        <choiceText>65+</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>65+</stringValue>
        </value>
    </choices>
    <choices>
        <name>AttendedPrevious</name>
        <choiceText>Attended previously</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Attended previously</stringValue>
        </value>
    </choices>
    <choices>
        <name>Church</name>
        <choiceText>Church</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Church</stringValue>
        </value>
    </choices>
    <choices>
        <name>CommunityEval</name>
        <choiceText>I committed to being connected and vulnerable with God&apos;s people.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Community</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Employer</name>
        <choiceText>Employer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employer</stringValue>
        </value>
    </choices>
    <choices>
        <name>EvalSalvation</name>
        <choiceText>I started a new relationship with God by saying “yes” to Jesus.&amp;nbsp;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Salvation</stringValue>
        </value>
    </choices>
    <choices>
        <name>FamilyLifeToday</name>
        <choiceText>FamilyLife Today with Dave and Ann Wilson</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FamilyLife Today with Dave and Ann Wilson</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </choices>
    <choices>
        <name>FLCruStaff</name>
        <choiceText>A FamilyLife or Cru staff member</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FamilyLife or Cru Staff</stringValue>
        </value>
    </choices>
    <choices>
        <name>forNone</name>
        <choiceText>None of these apply</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Friendfamilyorwordofmouth</name>
        <choiceText>Friend/family or word of mouth</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Word of Mouth</stringValue>
        </value>
    </choices>
    <choices>
        <name>Group</name>
        <choiceText>Tell me how easy it is to lead a small group</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Group</stringValue>
        </value>
    </choices>
    <choices>
        <name>InaFamilyLifeResource</name>
        <choiceText>In a FamilyLife resource</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FamilyLife Resource</stringValue>
        </value>
    </choices>
    <choices>
        <name>InternetSearch</name>
        <choiceText>Search engine (Google, Bing, etc)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internet Search</stringValue>
        </value>
    </choices>
    <choices>
        <name>Invite</name>
        <choiceText>Tell me how to invite others to a getaway</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invite</stringValue>
        </value>
    </choices>
    <choices>
        <name>Local</name>
        <choiceText>Tell me about FamilyLife Local in my area</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Local</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </choices>
    <choices>
        <name>noCorporate</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>noQuote</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Something else</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Podcastadvertising</name>
        <choiceText>Podcast advertising</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Podcast advertising</stringValue>
        </value>
    </choices>
    <choices>
        <name>Radioadvertising</name>
        <choiceText>Radio advertising</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Radio advertising</stringValue>
        </value>
    </choices>
    <choices>
        <name>RecommitEval</name>
        <choiceText>I recognized I need to submit myself more to the Spirit rather than my flesh.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resubmit</stringValue>
        </value>
    </choices>
    <choices>
        <name>SCNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>SCYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>SocialMedia</name>
        <choiceText>Social media</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Social Media</stringValue>
        </value>
    </choices>
    <choices>
        <name>yesCorporate</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>yesQuote</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Recommend_Greater_than_7</name>
        <label>Recommend Greater than 7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Speaker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Corporate Question</defaultConnectorLabel>
        <rules>
            <name>Add_Corporate_Question</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecommendRating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecommendRating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecommendRating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecommendRating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Corporate</targetReference>
            </connector>
            <label>Add Corporate Question</label>
        </rules>
    </decisions>
    <description>Show Back Button LWC ERT</description>
    <dynamicChoiceSets>
        <name>choiiceRating</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>X1_10__c</picklistField>
        <picklistObject>Staging_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>forBlendedScore</name>
        <dataType>Number</dataType>
        <expression>Value({!BlendedRating})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forCanQuote</name>
        <dataType>Boolean</dataType>
        <expression>IF({!May_we_Quote_You_Radio}=&apos;Yes&apos;,true,false)</expression>
    </formulas>
    <formulas>
        <name>forCommunityEvent</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!Multiple_Selection},&apos;vul&apos;),true,false)</expression>
    </formulas>
    <formulas>
        <name>forCorporate</name>
        <dataType>Boolean</dataType>
        <expression>IF({!CorporateRadioButtons}=&apos;Yes&apos;,true,false)</expression>
    </formulas>
    <formulas>
        <name>forEvalSalvation</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!Multiple_Selection},&apos;Jesus&apos;),true,false)</expression>
    </formulas>
    <formulas>
        <name>forEventRating</name>
        <dataType>Number</dataType>
        <expression>Value({!OverallRating})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forHowIHeard</name>
        <dataType>String</dataType>
        <expression>{!HowHeard}&amp;&quot; | &quot; &amp; {!HeardOther}</expression>
    </formulas>
    <formulas>
        <name>forRecommendRating</name>
        <dataType>Number</dataType>
        <expression>Value({!RecommendRating})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forRecommitEval</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!Multiple_Selection},&apos;Spirit&apos;),true,false)</expression>
    </formulas>
    <formulas>
        <name>forStepChildren</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Do_you_have_Step_Children}=&quot;Yes&quot;,True,False)</expression>
    </formulas>
    <interviewLabel>Staging Survey | Screen Flow | Event Evaluation {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Staging Survey | Screen Flow | Event Evaluation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Staging_Survey</name>
        <label>Create Staging Survey</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>recStagingSurvey</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Registration</name>
        <label>Registration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gender_and_Age</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_RegistrationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Blended_Information</name>
        <label>Blended Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Previous</backButtonLabel>
        <connector>
            <targetReference>EventGeneral</targetReference>
        </connector>
        <fields>
            <name>Do_you_have_Step_Children</name>
            <choiceReferences>SCYes</choiceReferences>
            <choiceReferences>SCNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you or your spouse have stepchildren?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>BlendedRating</name>
            <choiceReferences>choiiceRating</choiceReferences>
            <dataType>String</dataType>
            <fieldText>If you attended the Blended Family breakout, please rate the value of the information presented to you—was it helpful for your family? (1 = Not at all helpful, 10 = Extremely helpful)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>WTRShowBackButtonPage3</name>
            <extensionName>c:flWTRShowBackButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Corporate</name>
        <label>Corporate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Speaker</targetReference>
        </connector>
        <fields>
            <name>CorporateRadioButtons</name>
            <choiceReferences>yesCorporate</choiceReferences>
            <choiceReferences>noCorporate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Often, businesses will offer Weekend to Remember scholarships as a benefit for their employees. Would you like to learn more about how your business can participate in the Corporate Sponsorship program?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>WTRShowBackButtonPage7b</name>
            <extensionName>c:flWTRShowBackButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_Thankyou</name>
            <fieldText>&lt;p&gt; {!varContactName}  there was a problem submitting your survey. Please ask one of our staff to assist. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EventGeneral</name>
        <label>EventGeneral</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Previous</backButtonLabel>
        <connector>
            <targetReference>Salvation_Recommit_Community</targetReference>
        </connector>
        <fields>
            <name>OverallRating</name>
            <choiceReferences>choiiceRating</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How would you rate the event overall? (1 = Not at all helpful, 10 = Extremely helpful)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>HowtoImprove</name>
            <fieldText>Is there anything we could have done to improve this event?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>WTRShowBackButtonPage4</name>
            <extensionName>c:flWTRShowBackButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Gender_and_Age</name>
        <label>Gender and Age</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Hear</targetReference>
        </connector>
        <fields>
            <name>Gender</name>
            <choiceReferences>Male</choiceReferences>
            <choiceReferences>Female</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Age_Range</name>
            <choiceReferences>Age1824</choiceReferences>
            <choiceReferences>Age2534</choiceReferences>
            <choiceReferences>Age3544</choiceReferences>
            <choiceReferences>Age4554</choiceReferences>
            <choiceReferences>Age5564</choiceReferences>
            <choiceReferences>Age65Plus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Age Range</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Wedding_Date</name>
            <dataType>Date</dataType>
            <fieldText>Wedding Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>WTRShowBackButton</name>
            <extensionName>c:flWTRShowBackButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Hear</name>
        <label>How did you hear about the Weekend to Remember?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Blended_Information</targetReference>
        </connector>
        <fields>
            <name>HowHeard</name>
            <choiceReferences>Church</choiceReferences>
            <choiceReferences>Email</choiceReferences>
            <choiceReferences>Friendfamilyorwordofmouth</choiceReferences>
            <choiceReferences>InternetSearch</choiceReferences>
            <choiceReferences>Radioadvertising</choiceReferences>
            <choiceReferences>Podcastadvertising</choiceReferences>
            <choiceReferences>SocialMedia</choiceReferences>
            <choiceReferences>FamilyLifeToday</choiceReferences>
            <choiceReferences>FLCruStaff</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How did you hear about the Weekend to Remember? Select all that apply</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>HeardOther</name>
            <dataType>String</dataType>
            <fieldText>Please briefly explain</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HowHeard</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Other</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WTTShowBackButtonPage2</name>
            <extensionName>c:flWTRShowBackButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Impact</name>
        <label>Impact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Recommend</targetReference>
        </connector>
        <fields>
            <name>What_Impact_did_this_getaway_have_on_your_marriage</name>
            <fieldText>What impact did this getaway have on your marriage?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>May_we_Quote_You_Radio</name>
            <choiceReferences>yesQuote</choiceReferences>
            <choiceReferences>noQuote</choiceReferences>
            <dataType>String</dataType>
            <fieldText>May we Quote You</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_Impact_did_this_getaway_have_on_your_marriage</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WTRShowBackButtonPage6</name>
            <extensionName>c:flWTRShowBackButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Recommend</name>
        <label>Recommend</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Recommend_Greater_than_7</targetReference>
        </connector>
        <fields>
            <name>RecommendRating</name>
            <choiceReferences>choiiceRating</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How likely are you to recommend this getaway to another couple? (1 = Not at all likely, 10 = Extremely likely)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>WTRShowBackButtonPage7</name>
            <extensionName>c:flWTRShowBackButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Salvation_Recommit_Community</name>
        <label>Salvation Recommit Community</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Previous</backButtonLabel>
        <connector>
            <targetReference>Impact</targetReference>
        </connector>
        <fields>
            <name>Multiple_Selection</name>
            <choiceReferences>EvalSalvation</choiceReferences>
            <choiceReferences>RecommitEval</choiceReferences>
            <choiceReferences>CommunityEval</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Did you make any of these decisions this weekend? (Check all that apply)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>WTRShowBackButtonPage5</name>
            <extensionName>c:flWTRShowBackButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Speaker</name>
        <label>Speaker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
        <fields>
            <name>What_did_you_appreciate_most_about_the_speakers</name>
            <fieldText>What did you appreciate most about the speakers?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Was_there_anything_the_speakers_did_or_said_that_diminished_your_experience</name>
            <fieldText>Was there anything the speakers did or said that diminished your experience? If so, please explain.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>WTRShowBackButtonPage8</name>
            <extensionName>c:flWTRShowBackButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <fields>
            <name>Thankyou</name>
            <fieldText>&lt;p&gt;Thank you so much  {!varContactName}  for sharing your experience with us. It allows us to continuously improve the Weekend to Remember experience. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>WTRShowBackButtonPage9</name>
            <extensionName>c:flWTRShowBackButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Registration</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recStagingSurvey</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Staging_Survey__c</objectType>
    </variables>
    <variables>
        <name>txtFname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtHousehold</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtLname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtNextAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>txtPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtSurveyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAttendeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEventName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEventStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_EventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_RegistrationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
