force-app/main/default/flows/Staging_Survey_After_Insert_Update_Create_Survey_Response.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Staging Survey | After Insert Update | Create Survey Response {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Staging Survey | After Insert Update | Create Survey Response</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Response</name>
        <label>Create Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varSurveyId</assignRecordIdToReference>
        <connector>
            <targetReference>Event_Detail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Mark_Failed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Age_Range__c</field>
            <value>
                <elementReference>$Record.Age__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendee__c</field>
            <value>
                <elementReference>$Record.Attendee_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Blended_Rating__c</field>
            <value>
                <elementReference>$Record.Blended_Rating__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Can_Quote__c</field>
            <value>
                <elementReference>$Record.Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Community__c</field>
            <value>
                <elementReference>$Record.Community__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Contact_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Corporate__c</field>
            <value>
                <elementReference>$Record.Corporate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Detail__c</field>
            <value>
                <elementReference>$Record.Event_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Improvement__c</field>
            <value>
                <elementReference>$Record.Improve__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Rating__c</field>
            <value>
                <elementReference>$Record.Event_Rating__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household__c</field>
            <value>
                <elementReference>$Record.Household_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_Heard__c</field>
            <value>
                <elementReference>$Record.Heard__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invite_others__c</field>
            <value>
                <elementReference>$Record.Invite__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local__c</field>
            <value>
                <elementReference>$Record.Local__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marriage_Impact__c</field>
            <value>
                <elementReference>$Record.Impact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mission_Other__c</field>
            <value>
                <elementReference>$Record.Mission_Other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prayer_Request__c</field>
            <value>
                <elementReference>$Record.Prayer_Request__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <elementReference>$Record.Question__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommend_Rating__c</field>
            <value>
                <elementReference>$Record.Recommend_Rating__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommitment__c</field>
            <value>
                <elementReference>$Record.Recommitment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salvation__c</field>
            <value>
                <elementReference>$Record.Salvation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Small_Group__c</field>
            <value>
                <elementReference>$Record.Small_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Speaker_Feedback__c</field>
            <value>
                <elementReference>$Record.Speaker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Speaker_Issues__c</field>
            <value>
                <elementReference>$Record.Diminished__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Step_Children__c</field>
            <value>
                <elementReference>$Record.Step_Children__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sur_Email__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sur_First_Name__c</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sur_Last_Name__c</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sur_Phone__c</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sur_ZipCode__c</field>
            <value>
                <elementReference>$Record.zipcode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wedding_Date__c</field>
            <value>
                <elementReference>$Record.Wedding_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Response__c</object>
    </recordCreates>
    <recordLookups>
        <name>Event_Detail</name>
        <label>Event Detail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mark_Processed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mark_Failed</name>
        <label>Mark Failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Process_Comment__c</field>
            <value>
                <stringValue>Survey Failed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_Processed</name>
        <label>Mark Processed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Process_Comment__c</field>
            <value>
                <stringValue>Survey Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Response__c</field>
            <value>
                <elementReference>varSurveyId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process_Comment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Process</stringValue>
            </value>
        </filters>
        <filters>
            <field>Survey_Response__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Staging_Survey__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Create_Response</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varSurveyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
