force-app/main/default/flows/Survey_Response_PE_Subscriber_New_Feedback_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Task</name>
        <label>New Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>txtSurveyResponseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>txtAssignToId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>txtEventId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>txtSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>txtContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>dateTaskDue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>NotifySend</name>
        <label>Notify</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Record.Notification_Channel_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>txtReceipiantIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>txtSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>txtBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>txtSurveyResponseId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_an_Email</name>
        <label>Send an Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Notify</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>txtRecipieantEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>txtSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtBody</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>txtSurveyResponseId</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Evaluation</name>
        <label>Set Evaluation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txtContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtHousehold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Household_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtEventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Event_Detail_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtSurveyResponseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SR_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtReceipiantIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0053q00000AdxhNAAR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtEmailRecipient</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053q00000AdxhNAAR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dateTaskDue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtAssignToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053q00000AdxhNAAR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtRecipieantEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>tim.jones@cru.org</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Mission</name>
        <label>Set Mission</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txtContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtHousehold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Household_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtEventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Event_Detail_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtSurveyResponseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SR_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtReceipiantIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0053q00000AdxhNAAR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtEmailRecipient</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053q00000AdxhNAAR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dateTaskDue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtAssignToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053q00000AdxhNAAR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtRecipieantEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>tim.jones@cru.org</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Oneness</name>
        <label>Set Oneness</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txtContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtHousehold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Household_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtEventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Event_Detail_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtSurveyResponseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SR_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtReceipiantIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0053q00000AdxhNAAR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtEmailRecipient</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053q00000AdxhNAAR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dateTaskDue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtAssignToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053q00000AdxhNAAR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtRecipieantEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>tim.jones@cru.org</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This is currently configured to always send an email, in your flow you may not want to send an email, so set conditions here to skip email</description>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Task</defaultConnectorLabel>
        <rules>
            <name>Yes_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Task</targetReference>
            </connector>
            <label>Yes Task</label>
        </rules>
    </decisions>
    <decisions>
        <description>This is currently configured to always send an email, in your flow you may not want to send an email, so set conditions here to skip email</description>
        <name>Notify</name>
        <label>Notify</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Notification</defaultConnectorLabel>
        <rules>
            <name>Yes_Notify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotifySend</targetReference>
            </connector>
            <label>Yes Notify</label>
        </rules>
    </decisions>
    <decisions>
        <name>Relevant</name>
        <label>Relevant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Just Noise Move Along</defaultConnectorLabel>
        <rules>
            <name>Yes_Listen_to_this_one</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oneness</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mission</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration</targetReference>
            </connector>
            <label>Yes Listen to this one</label>
        </rules>
    </decisions>
    <decisions>
        <description>This is currently configured to always send an email, in your flow you may not want to send an email, so set conditions here to skip email</description>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Notify</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Email</defaultConnectorLabel>
        <rules>
            <name>Yes_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_an_Email</targetReference>
            </connector>
            <label>Yes Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type</name>
        <label>Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing to do</defaultConnectorLabel>
        <rules>
            <name>Type_Of_Feedback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oneness</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Oneness</targetReference>
            </connector>
            <label>Oneness</label>
        </rules>
        <rules>
            <name>Mission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Mission</targetReference>
            </connector>
            <label>Mission</label>
        </rules>
        <rules>
            <name>Evaluation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Evaluation</targetReference>
            </connector>
            <label>Evaluation</label>
        </rules>
    </decisions>
    <description>Unlike Questions or Prayer we attempt to tie these to a registration and thus a contact. This template fires  a Notification, Email and Task, but can be modified to suit your needs</description>
    <environments>Default</environments>
    <formulas>
        <name>forBody</name>
        <dataType>String</dataType>
        <expression>{!Registration.Event_Detail__r.Name} &amp; &quot; &quot; &amp; {!$Record.Process__c} &amp;&quot; &quot; &amp;{!$Record.Type__c} &amp;&quot; Put your body language here&quot;</expression>
    </formulas>
    <formulas>
        <name>forDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+3</expression>
    </formulas>
    <formulas>
        <name>forSubject</name>
        <dataType>String</dataType>
        <expression>{!Registration.Event_Detail__r.Name} &amp; &quot; &quot; &amp; {!$Record.Process__c} &amp;&quot; &quot; &amp;{!$Record.Type__c}</expression>
    </formulas>
    <interviewLabel>Survey Response PE | Subscriber | New Feedback Template {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Survey Response PE | Subscriber | New Feedback Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Registration</name>
        <label>Registration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Registration_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Relevant</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Survey_Response_PE__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>dateTaskDue</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtAssignToId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtEmailRecipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtHousehold</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtReceipiantIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtRecipieantEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtSurveyResponseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
