force-app/main/default/flows/Survey_Response_PE_Subscriber_New_Question_or_Prayer_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This is currently using a quick action for testing. Highly recommend switching to a create record element and explicitly setting values via the assignment above</description>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Event_Detail_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>taskAssignToId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.SR_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>taskSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>taskDueDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_a_Task_dec</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>txtEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressCollection</name>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;Add Prayer or Question Info here&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Email_dec</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Record.Notification_Channel_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>targetRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>You can pull a list of recipients and assign them to the collection recipeantIds For example loop through the speakers at the event.
Notification Body and Title are formulas you can pull relevant records and build out the formulas that are populating these</description>
        <name>Set_Prayer_Values</name>
        <label>Set Prayer Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0053q00000AdxhNAAR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtQuestionSumbitted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtNotificationTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SR_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>tim.jones@cru.org</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forTaskDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskAssignToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forTaskDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forTaskSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forEmailList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_a_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>You can pull a list of recipients and assign them to the collection recipeantIds For example loop through the speakers at the event.
Notification Body and Title are formulas you can pull relevant records and build out the formulas that are populating these</description>
        <name>Set_Question_Values</name>
        <label>Set Question Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0053q00000AdxhNAAR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtQuestionSumbitted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtNotificationTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SR_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>tim.jones@cru.org</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forTaskDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskAssignToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forTaskDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forTaskSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forEmailList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_a_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This is currently set to always fire True, Set conditions to test out false to prevent a task from being created</description>
        <name>Create_a_Task_dec</name>
        <label>Create a Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Task</defaultConnectorLabel>
        <rules>
            <name>Task</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Question</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prayer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Relevant</name>
        <label>Is Relevant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>You can ignore this one</defaultConnectorLabel>
        <rules>
            <name>Yes_Listen_to_this_one</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prayer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Question</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Detail</targetReference>
            </connector>
            <label>Yes Listen to this one</label>
        </rules>
    </decisions>
    <decisions>
        <name>Question_or_Prayer</name>
        <label>Question or Prayer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Ignore</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Question</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Question</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Question_Values</targetReference>
            </connector>
            <label>Yes New Question</label>
        </rules>
        <rules>
            <name>Is_New_Prayer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prayer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Prayer_Values</targetReference>
            </connector>
            <label>Is New Prayer</label>
        </rules>
    </decisions>
    <decisions>
        <description>This is currently set to always fire True, Set conditions to test out false to prevent a notification from being sent</description>
        <name>Send_a_Notification</name>
        <label>Send a Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_Email_dec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Notification</defaultConnectorLabel>
        <rules>
            <name>Notify</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Question</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prayer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification</targetReference>
            </connector>
            <label>Notify</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_dec</name>
        <label>Send Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_a_Task_dec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Send</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Question</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prayer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Yes Send</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>emailSubject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Process__c} &amp; &quot; &quot; &amp; {!$Record.Type__c}</expression>
    </formulas>
    <formulas>
        <name>forEmailList</name>
        <dataType>String</dataType>
        <expression>&quot;Tim.jones@cru.og&quot;</expression>
    </formulas>
    <formulas>
        <name>forTaskDescription</name>
        <dataType>String</dataType>
        <expression>&quot;This Task is from a Survey Response &quot; &amp; {!$Record.Process__c} &amp;&quot; &quot; &amp; {!$Record.Type__c} &amp; &quot; From Event &quot;  &amp;  {!Event_Detail.Name} &amp; &quot; &quot; &amp;
{!$Record.Question__c}</expression>
    </formulas>
    <formulas>
        <description>Add to the flow date out into the future to set when due</description>
        <name>forTaskDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+3</expression>
    </formulas>
    <formulas>
        <name>forTaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;New &quot; &amp; {!$Record.Type__c} &amp; &quot; from Event &quot; &amp; {!Event_Detail.Name}</expression>
    </formulas>
    <formulas>
        <name>txtNotificationTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Type__c} &amp; &quot; Has Been Asked&quot;</expression>
    </formulas>
    <formulas>
        <name>txtQuestionSumbitted</name>
        <dataType>String</dataType>
        <expression>&quot;This was the question asked -----  &quot; &amp; {!$Record.Question__c}</expression>
    </formulas>
    <interviewLabel>Survey Response PE | Subscriber | New Question or Prayer Template {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Survey Response PE | Subscriber | New Question or Prayer Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Event_Detail</name>
        <label>Event Detail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Question_or_Prayer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event_Detail_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Relevant</targetReference>
        </connector>
        <flowRunAsUser>DefaultWorkflowUser</flowRunAsUser>
        <object>Survey_Response_PE__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>notificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>targetRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskAssignToId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
