force-app/main/default/flows/Survey_Response_PE_Subscriber_Share_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Relivant</name>
        <label>Relivant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Group_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SR_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share</targetReference>
            </connector>
            <label>Yes Proceed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Share_Id_Created</name>
        <label>Share Id Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Share_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Share Created</defaultConnectorLabel>
        <rules>
            <name>Yes_Share_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varShareId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Share_on_SR</targetReference>
            </connector>
            <label>Yes Share Created</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel
  >Survey Response PE | Subscriber | Share Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey Response PE | Subscriber | Share Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Share</name>
        <label>Share</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Share_Id_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.SR_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Group_Id__c</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Response__Share</object>
        <assignRecordIdToReference>varShareId</assignRecordIdToReference>
    </recordCreates>
    <recordUpdates>
        <name>Set_Share_on_SR</name>
        <label>Set Share on SR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SR_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Share_Id__c</field>
            <value>
                <elementReference>varShareId</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Response__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Share_Failed</name>
        <label>Share Failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SR_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Share_Id__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Survey_Response__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Relivant</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Survey_Response_PE__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varShareId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
