force-app/main/default/flows/Survey_Response_Screen_Flow_Match_Survey_to_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Look_for_Duplicate</name>
        <label>Look for Duplicate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>dupcheck__dc3SearchByValuesFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Existing_Contact</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__searchObject</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>searchObject</name>
            <value>
                <elementReference>recContact</elementReference>
            </value>
        </inputParameters>
        <nameSegment>dupcheck__dc3SearchByValuesFlowAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Plauti_Deduplicate_Get_Duplicates_IDs_from_Deduplicate_Flow_Output_Action_1</name>
        <label>Plauti Deduplicate - Get Duplicates IDs from Deduplicate Flow Output Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>dupcheck__dc3GetDuplicateIdsFromDcOutputFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Multiple</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>duplicateResult</name>
            <value>
                <elementReference>Look_for_Duplicate.duplicateResult</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectPrefix</name>
            <value>
                <stringValue>003</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dupcheck__dc3GetDuplicateIdsFromDcOutputFlowAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contact_Search</name>
        <label>Assign Contact Search</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survey.Sur_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survey.Sur_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survey.Sur_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survey.Sur_ZipCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survey.Sur_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_for_Duplicate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Matched_Reg_Id</name>
        <label>Set Matched Reg Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txtRegistrationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Registration.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Te_Survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Multi_Contact</name>
        <label>Set Multi Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txtContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MultipleMatchTable.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MultipleMatchTable.firstSelectedRow.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Registration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Account</name>
        <label>Set New Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txtAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Created_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Registration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Single_Contact</name>
        <label>Set Single Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txtContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matched_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matched_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Registration</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CreateANewContact</name>
        <choiceText>Not a match, create a new contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NewSingContact</stringValue>
        </value>
    </choices>
    <choices>
        <name>singContactMatch</name>
        <choiceText>Use this Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UseSingle</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Existing_Contact</name>
        <label>Existing Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Contact_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Matches</defaultConnectorLabel>
        <rules>
            <name>One_or_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_Duplicate.duplicate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matched_Contact</targetReference>
            </connector>
            <label>One or More</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_than_One</name>
        <label>More than One</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ReviewMatchedContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Get_All_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_Duplicate.totalDuplicates</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plauti_Deduplicate_Get_Duplicates_IDs_from_Deduplicate_Flow_Output_Action_1</targetReference>
            </connector>
            <label>Yes Get All Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multiple_Outcome</name>
        <label>Multiple Outcome</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Multiple_Matches</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Multiple_New_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckNewContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Add_Contact_Screen</targetReference>
            </connector>
            <label>Multiple New Contact</label>
        </rules>
        <rules>
            <name>Outcome_1_of_Decision_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MultipleMatchTable.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Multi_Contact</targetReference>
            </connector>
            <label>Use Selected Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registration_Found</name>
        <label>Registration Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Reg_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Match_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Registration.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Matched_Reg_Id</targetReference>
            </connector>
            <label>Yes Match Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Single_Outcome</name>
        <label>Single Outcome</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Contact_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Contact</defaultConnectorLabel>
        <rules>
            <name>Use_this_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>singContactMatch</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Single_Contact</targetReference>
            </connector>
            <label>Use this Contact</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Survey Response | Screen Flow | Match Survey to Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey Response | Screen Flow | Match Survey to Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Contact</name>
        <label>New Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>txtContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Created_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Zip_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Created_Contact</name>
        <label>Created Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_New_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txtContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Registration</name>
        <label>Find Registration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Registration_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txtContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Event_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Survey.Event_Detail__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Matched_Contact</name>
        <label>Matched Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>More_than_One</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Look_for_Duplicate.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Show_Multiple</name>
        <label>Show Multiple</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Multiple_Matches</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Plauti_Deduplicate_Get_Duplicates_IDs_from_Deduplicate_Flow_Output_Action_1.duplicateRecordIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>5.0</numberValue>
        </limit>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Survey</name>
        <label>Survey</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact_Search</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Survey_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Te_Survey</name>
        <label>Update Te Survey</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Attendee__c</field>
            <value>
                <elementReference>txtRegistrationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>txtContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household__c</field>
            <value>
                <elementReference>txtAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Response__c</object>
    </recordUpdates>
    <screens>
        <name>Add_Contact_Screen</name>
        <label>Add Contact Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Contact</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Survey.Sur_First_Name__c</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Survey.Sur_Last_Name__c</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Street</name>
            <dataType>String</dataType>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Zip_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Survey.Sur_ZipCode__c</elementReference>
            </defaultValue>
            <fieldText>Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Survey.Sur_Email__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Survey.Sur_Phone__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Multiple_Matches</name>
        <label>Multiple Matches</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Multiple_Outcome</targetReference>
        </connector>
        <fields>
            <name>MoreThanOne</name>
            <fieldText>&lt;p&gt;There are more than one contact records that could match this record. Select the contact you would like to associate with this Survey.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MultipleMatchTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Show_Multiple</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Contact&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Show_Multiple&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Full_Name__c&quot;,&quot;guid&quot;:&quot;column-6a5e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-9c9a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Email&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Preferred Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;MobilePhone&quot;,&quot;guid&quot;:&quot;column-1281&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Phone&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Mobile Phone&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;MailingStreet&quot;,&quot;guid&quot;:&quot;column-5078&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Street&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Mailing Street&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Contact&quot;,&quot;fieldReferences&quot;:[&quot;Full_Name__c&quot;,&quot;Email&quot;,&quot;MobilePhone&quot;,&quot;MailingStreet&quot;],&quot;elementReference&quot;:&quot;Show_Multiple&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CheckNewContact</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>None of these are the correct contact, I would like to create a new Contact</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 17, 17);&quot;&gt;You must Chose a Contact from the list OR Check the New Contact button to proceed. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MultipleMatchTable.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                </conditions>
                <conditions>
                    <leftValueReference>Multiple_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Reg_Action</name>
        <label>No Reg Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Te_Survey</targetReference>
        </connector>
        <fields>
            <name>NoRegPlaceHolder</name>
            <fieldText>&lt;p&gt;Placeholder&lt;/p&gt;&lt;p&gt;Do we want Registrations created from Unmatched Surveys that did not match an existing Registration, Even after resolving the contact. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReviewMatchedContact</name>
        <label>ReviewMatchedContact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Single_Outcome</targetReference>
        </connector>
        <fields>
            <name>MatchedContactInformation</name>
            <fieldText>&lt;p&gt;A single contact was found matching the submitted contact information, but not associated with a Registration. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;First: {!Matched_Contact.FirstName}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Last: {!Matched_Contact.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Street: {!Matched_Contact.MailingStreet}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;City: {!Matched_Contact.MailingCity}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;State: {!Matched_Contact.MailingState}&lt;/p&gt;&lt;p&gt;Zip: {!Matched_Contact.MailingPostalCode}&lt;/p&gt;&lt;p&gt;Email: {!Matched_Contact.Email}&lt;/p&gt;&lt;p&gt;Mobile: {!Matched_Contact.MobilePhone}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Next_Step</name>
            <choiceReferences>singContactMatch</choiceReferences>
            <choiceReferences>CreateANewContact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Next Step</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Survey</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtRegistrationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
