force-app/main/default/flows/Survey_Response_After_Insert_Publish_New_Response.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>ERT UAT</description>
    <environments>Default</environments>
    <interviewLabel>Survey Response | After Insert | Publish New Response {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey Response | After Insert | Publish New Response</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_PE</name>
        <label>Publish PE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Age_Range__c</field>
            <value>
                <elementReference>$Record.Age_Range__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Blended_Rating__c</field>
            <value>
                <elementReference>$Record.Blended_Rating__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Can_Quote__c</field>
            <value>
                <elementReference>$Record.Can_Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Community__c</field>
            <value>
                <elementReference>$Record.Community__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_ID__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Corporate__c</field>
            <value>
                <elementReference>$Record.Corporate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Area_ID__c</field>
            <value>
                <elementReference>$Record.Event_Area__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Detail_ID__c</field>
            <value>
                <elementReference>$Record.Event_Detail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Improvement__c</field>
            <value>
                <elementReference>$Record.Event_Improvement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Rating__c</field>
            <value>
                <elementReference>$Record.Event_Rating__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group_Id__c</field>
            <value>
                <elementReference>$Record.Event_Detail__r.Public_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household_ID__c</field>
            <value>
                <elementReference>$Record.Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_Heard__c</field>
            <value>
                <elementReference>$Record.How_Heard__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invite_Others__c</field>
            <value>
                <elementReference>$Record.Invite_others__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local__c</field>
            <value>
                <elementReference>$Record.Local__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marriage_Impact__c</field>
            <value>
                <elementReference>$Record.Marriage_Impact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mission_Other__c</field>
            <value>
                <elementReference>$Record.Mission_Other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notification_Channel_Id__c</field>
            <value>
                <elementReference>Notification_Channel.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prayer_Request__c</field>
            <value>
                <elementReference>$Record.Prayer_Request__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <elementReference>$Record.Question__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommend_Rating__c</field>
            <value>
                <elementReference>$Record.Recommend_Rating__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommitment__c</field>
            <value>
                <elementReference>$Record.Recommitment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_ID__c</field>
            <value>
                <elementReference>$Record.Attendee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salvation__c</field>
            <value>
                <elementReference>$Record.Salvation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Small_Group__c</field>
            <value>
                <elementReference>$Record.Small_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Speaker_Feedback__c</field>
            <value>
                <elementReference>$Record.Speaker_Feedback__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Speaker_Issues__c</field>
            <value>
                <elementReference>$Record.Speaker_Issues__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Step_Children__c</field>
            <value>
                <elementReference>$Record.Step_Children__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sur_Email__c</field>
            <value>
                <elementReference>$Record.Sur_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sur_First_Name__c</field>
            <value>
                <elementReference>$Record.Sur_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sur_Last_Name__c</field>
            <value>
                <elementReference>$Record.Sur_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sur_Phone__c</field>
            <value>
                <elementReference>$Record.Sur_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sur_ZipCode__c</field>
            <value>
                <elementReference>$Record.Sur_ZipCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wedding_Date__c</field>
            <value>
                <elementReference>$Record.Wedding_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Response_PE__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Notification_Channel</name>
        <label>Notification Channel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Publish_PE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WTR_Survey</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Notification_Channel</targetReference>
        </connector>
        <object>Survey_Response__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
