force-app/main/default/flows/Survey_Response_Subflow_Share_to_Public_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description
  >Can be called from any survey processing flow to share the record to the public group on the event. Creates a Survey_Response__Share record directly with Manual RowCause, then updates Share_Id__c.</description>
    <environments>Default</environments>
    <interviewLabel
  >Survey Response | Subflow | Share to Public Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey Response | Subflow | Share to Public Group</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Share</name>
        <label>Create Share</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Share_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>surveyresponseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>publicGroupId</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Response__Share</object>
        <assignRecordIdToReference>shareId</assignRecordIdToReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Share_Id</name>
        <label>Update Share Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>surveyresponseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Share_Id__c</field>
            <value>
                <elementReference>shareId</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Response__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Share</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>publicGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shareId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>surveyresponseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
