force-app/main/default/flows/Survey_Response_PE_Subscriber_New_Survey_Update_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Evaluation</name>
        <label>Set Evaluation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txtContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtHousehold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Household_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtEventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Event_Detail_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtSurveyResponseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SR_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtReceipiantIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0053q00000AdxhNAAR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtEmailRecipient</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053q00000AdxhNAAR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dateTaskDue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtAssignToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053q00000AdxhNAAR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtRecipieantEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>tim.jones@cru.org</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Registration.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Can_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Can_Quote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Evaluation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Publish__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Step_Children__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Step_Children__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Wedding_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Wedding_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Event_Improvement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Event_Improvement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Gender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Speaker_Improvement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Speaker_Issues__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Speaker_Feeback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Speaker_Feedback__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Marriage_Impact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Marriage_Impact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Blended_Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Blended_Rating__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Event_Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Event_Rating__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Recommend_Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Recommend_Rating__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.How_Heard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.How_Heard__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Age_Range__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Age_Range__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Corporate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Corporate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Registration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Mission</name>
        <label>Set Mission</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txtContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtHousehold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Household_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtEventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Event_Detail_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtSurveyResponseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SR_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtReceipiantIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0053q00000AdxhNAAR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtEmailRecipient</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053q00000AdxhNAAR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dateTaskDue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtAssignToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053q00000AdxhNAAR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtRecipieantEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>tim.jones@cru.org</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Registration.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Invite_Others__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forInvite</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Lead_Small_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Local_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forLocal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Publish__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Mission_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forOther</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Registration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Oneness</name>
        <label>Set Oneness</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txtContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtHousehold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Household_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtEventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Event_Detail_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtSurveyResponseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SR_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtReceipiantIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0053q00000AdxhNAAR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtEmailRecipient</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053q00000AdxhNAAR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dateTaskDue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtAssignToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053q00000AdxhNAAR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtRecipieantEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>tim.jones@cru.org</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Registration.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Salvation_Decision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forSalvation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Recommitted_Life_to_Christ__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forRecommit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Publish__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateRegistration.Community__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forCommunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Registration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Responces</name>
        <label>Set Responces</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>boolSendEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolCreateTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolNotify</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Registration</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Relevant</name>
        <label>Relevant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Just Noise Move Along</defaultConnectorLabel>
        <rules>
            <name>Yes_Listen_to_this_one</name>
            <conditionLogic>1 AND 5 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oneness</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mission</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Registration_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Responces</targetReference>
            </connector>
            <label>Yes Listen to this one</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type</name>
        <label>Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Nothing to do</defaultConnectorLabel>
        <rules>
            <name>Type_Of_Feedback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oneness</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Oneness</targetReference>
            </connector>
            <label>Oneness</label>
        </rules>
        <rules>
            <name>Mission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Mission</targetReference>
            </connector>
            <label>Mission</label>
        </rules>
        <rules>
            <name>Evaluation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Evaluation</targetReference>
            </connector>
            <label>Evaluation</label>
        </rules>
    </decisions>
    <description>This flow listens for any new Survey Responses, and updates the Registration on any record that has an established Registration. UAT</description>
    <environments>Default</environments>
    <formulas>
        <name>forBody</name>
        <dataType>String</dataType>
        <expression>{!Registration.Event_Detail__r.Name} &amp; &quot; &quot; &amp; {!$Record.Process__c} &amp;&quot; &quot; &amp;{!$Record.Type__c} &amp;&quot; &quot; &amp; IF({!$Record.Invite_Others__c}=true,&apos;Invite Others&apos;,&apos;&apos;)&amp;&quot; &quot; &amp; IF({!$Record.Local__c}=true,&apos;Local Interests&apos;,&apos;&apos;)&amp;&quot; &quot; &amp; IF({!$Record.Small_Group__c}=true,&apos;Lead Small Group&apos;,&apos;&apos;)&amp;&quot; &quot; &amp; IF({!$Record.Salvation__c}=true,&apos;Salvation&apos;,&apos;&apos;)&amp;&quot; &quot; &amp; IF({!$Record.Recommitment__c}=true,&apos;Recommitment&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>forCommunity</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Registration.Community__c}=true,true,IF({!$Record.Community__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <name>forDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+3</expression>
    </formulas>
    <formulas>
        <name>forGroup</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Registration.Lead_Small_Group__c}=true,true,IF({!$Record.Small_Group__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <name>forInvite</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Registration.Invite_Others__c}=true,true,IF({!$Record.Invite_Others__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <name>forLocal</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Registration.Local_Interest__c}=true,true,IF({!$Record.Local__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <name>forOther</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Registration.Mission_Other__c}=true,true,IF({!$Record.Mission_Other__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <name>forRecommit</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Registration.Recommitted_Life_to_Christ__c}=true,true,IF({!$Record.Recommitment__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <name>forSalvation</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Registration.Salvation_Decision__c}=true,true,IF({!$Record.Salvation__c}=true,true,false))</expression>
    </formulas>
    <formulas>
        <name>forSubject</name>
        <dataType>String</dataType>
        <expression>{!Registration.Event_Detail__r.Name} &amp; &quot; &quot; &amp; {!$Record.Process__c} &amp;&quot; &quot; &amp;{!$Record.Type__c}</expression>
    </formulas>
    <interviewLabel>Survey Response PE | Subscriber | New Feedback Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey Response PE | Subscriber | New Survey Update Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Registration</name>
        <label>Registration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Registration_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Registration</name>
        <label>Update Registration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>recUpdateRegistration</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Relevant</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Survey_Response_PE__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>boolCreateTask</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolNotify</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolSendEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolUpdateRegistration</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>dateTaskDue</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recUpdateRegistration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Registration__c</objectType>
    </variables>
    <variables>
        <name>txtAssignToId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtEmailRecipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtHousehold</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtReceipiantIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtRecipieantEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtSurveyResponseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
