force-app/main/default/flows/Survey_Response_PE_Subscriber_New_Question_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_New_Question</name>
        <label>Send New Question</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0MLEm000000KhX3OAK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>targetRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Values</name>
        <label>Set Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtQuestionSumbitted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtNotificationTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SR_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_New_Question</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_New_Question</name>
        <label>Is New Question</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Question</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Question</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Values</targetReference>
            </connector>
            <label>Yes New Question</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>txtNotificationTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Type__c} &amp; &quot; Has Been Asked&quot;</expression>
    </formulas>
    <formulas>
        <name>txtQuestionSumbitted</name>
        <dataType>String</dataType>
        <expression>&quot;This was the question asked -----  &quot; &amp; {!$Record.Question__c}</expression>
    </formulas>
    <interviewLabel>Survey Response PE | Subscriber | New Question Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DO NOT USE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_Question</targetReference>
        </connector>
        <flowRunAsUser>DefaultWorkflowUser</flowRunAsUser>
        <object>Survey_Response_PE__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>notificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>targetRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
